<div id="div_introduction" [style.display]="isVisible_introduction ? 'block' : 'none'" *ngIf="isVisible_introduction">
  <div id="container_introduction" class="container">
    <div class="row">
      <div class="col-md-8 col-lg-12 col-xl-12">
        <h1 class="h1_webDeveloper" *ngIf="!isCV" [@webDeveloper_fadeIn]="webDeveloper_fadeIn">MK-Lab</h1>

        <h1 class="h1_webDeveloper" *ngIf="language_english && isCV" [@webDeveloper_fadeIn]="webDeveloper_fadeIn">WEB<br/>DEVELOPER</h1>
        <h1 class="h1_webDeveloper" *ngIf="language_french && isCV" [@webDeveloper_fadeIn]="webDeveloper_fadeIn">DEVELOPPEUR<br/>WEB</h1>
        <h1 class="h1_webDeveloper" *ngIf="language_spanish && isCV" [@webDeveloper_fadeIn]="webDeveloper_fadeIn">DESARROLADOR<br/>WEB</h1>

        <span class="span_webDeveloper" *ngIf="language_english && !isCV" [@webDeveloper_fadeIn]="webDeveloper_fadeIn">Enter the 3rd dimension with MK-Lab</span>
        <span class="span_webDeveloper" *ngIf="language_french && !isCV" [@webDeveloper_fadeIn]="webDeveloper_fadeIn">Entrez dans la 3ème dimension avec MK-Lab</span>
        <span class="span_webDeveloper" *ngIf="language_spanish && !isCV" [@webDeveloper_fadeIn]="webDeveloper_fadeIn">Ingrese a la tercera dimensión con MK-Lab</span>

        <span class="span_webDeveloper" *ngIf="isCV" [@webDeveloper_fadeIn]="webDeveloper_fadeIn">SPRING - ANGULAR - BABYLONJS</span>
      </div>
    </div>
      <div class="row">
        <div class="col-xs-8 col-sm-7 col-md-6 col-lg-6 col-xl-6" *ngIf="!isCV" [@introduction_fadeIn]="introduction_fadeIn">
          <p class="text_introduction pr-3" *ngIf="language_english">
            Give yourself a powerful digital identity and offer your users a unique experience based on innovative technologies that will be part of the web for a long time.<br/>
            The 3D web offers digital marketing solutions revolutionizing your interactions with your community, an unprecedented presentation of your products, efficient classification of your data, unlimited customization of your interfaces.
          </p>
          <p class="text_introduction" *ngIf="language_french">
            Entrez dans la 3e dimension avec MK Lab
            Dotez vous d'une identité numérique puissante et proposez à vos utilisateurs une expérience unique reposant sur des technologies novatrices qui s'inscriront durablement dans le web.<br/>
            Le web 3D offre des solutions de marketing digital révolutionnant vos interactions avec votre communauté, une présentation inédite de vos produits, une classification efficace de vos données, une customisation illimitée de vos interfaces.
          </p>
          <p class="text_introduction" *ngIf="language_spanish">
            Date una poderosa identidad digital y ofrece a tus usuarios una experiencia única basada en tecnologías innovadoras que serán parte de la web durante mucho tiempo.<br/>
            La web 3D ofrece soluciones de marketing digital que revolucionan sus interacciones con su comunidad, una presentación sin precedentes de sus productos, clasificación eficiente de sus datos, personalización ilimitada de sus interfaces.
          </p>

          <div *ngIf="language_english">
              <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_french()">french</span>
              <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">spanish</span>
          </div>
          <div *ngIf="language_french">
              <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">anglais</span>
              <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">espagnol</span>
          </div>
          <div *ngIf="language_spanish">
              <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">inglés</span>
              <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_french()">francés</span>
          </div>
      </div>
          <div class="col-xs-8 col-sm-7 col-md-6 col-lg-6 col-xl-6" *ngIf="isCV" [@introduction_fadeIn]="introduction_fadeIn">
              <p class="text_introduction pr-3" *ngIf="language_english">
                Following a course as a Java application developer with OpenClassrooms, I am looking for a 4-month operational internship.<br/>
                Passionate about IT, I fell into the Web very early on. I trained in a self-taught way in Font-end development and in 3D modeling and programming.<br/>
                In order to validate and complete my knowledge, I decided to acquire a Back-end developer diploma.<br/>
                Open the door of my laboratory and discover my universe !
              </p>
              <p class="text_introduction" *ngIf="language_french">
                Suivant un cursus de de développeur d'applications Java avec OpenClassrooms, je suis à la recherche d'un stage opérationnel de 4 mois.<br/>
                Passionné d'informatique, je suis très tôt tombé dans le Web. Je me suis formé de manière autodidacte au développement Font-end et à la modélisation et la programmation 3D.<br/>
                Dans l'objectif de valider et de compléter mes acquis, j'ai décidé d'acquérir un diplôme de développeur Back-end.<br/>
                Poussez la porte de mon laboratoire et découvrez mon univers !
              </p>
              <p class="text_introduction" *ngIf="language_spanish">
                Después de un curso como desarrollador de aplicaciones Java con OpenClassrooms, estoy buscando una pasantía operativa de 4 meses.<br/>
                Apasionado por las tecnologías de la información, entré en la Web desde el principio. Me formé de forma autodidacta en desarrollo Font-end y en modelado y programación 3D.<br/>
                Para validar y completar mis conocimientos, decidí adquirir un diploma de desarrollador back-end.<br/>
                Abre la puerta de mi laboratorio y descubre mi universo !
              </p>
              <div *ngIf="language_english">
                <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_french()">french</span>
                <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">spanish</span>
              </div>
              <div *ngIf="language_french">
                <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">anglais</span>
                <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">espagnol</span>
              </div>
              <div *ngIf="language_spanish">
                <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">inglés</span>
                <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_french()">francés</span>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-1">
          <button id="btn_close_introduction" type="button" class="btn btn-primary mt-3" (click)="close_introduction()" [disabled]="isLoaded == false" [@btnCloseIntroduction_fadeIn]="btnCloseIntroduction_fadeIn">
            <span *ngIf="language_english">Enter</span>
            <span *ngIf="language_french">Entrer</span>
            <span *ngIf="language_spanish">Entrar</span>
          </button>
        </div>
      </div>
  </div>
</div>
