/* CANVAS */

#rendererCanvas_laboratory {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  touch-action: none;
}

/* BACKGROUND */

#div_introduction_background {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #160130;
}

/* INTRODUCTION */

.container_introduction {
  grid-template-columns: [col-start] 65px [col-1] 41px [col-2] 400px [col-stop];
  grid-template-rows: [row-start] 120px [row-1] auto [row-2] auto [row-3] auto [row-4];
  display: grid;
  z-index: 3;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 100px;
}

.logo_moko_introduction {
  grid-area: row-start / col-start / row-1 / col-2;
  grid-auto-rows: auto;
}

.h1s-language {
  grid-area: row-start / col-2 / row-1 / col-stop;
  grid-auto-rows: auto;
  font-family: Montserrat-Black;
  color: white;
  padding-left: 20px;
}

.h1-english {
  font-size: 30px;
  line-height: 30px;
  padding-top: 40px;
}

.h1-french {
  font-size: 26px;
  line-height: 28px;
  padding-top: 44px;
}

.h1-spanish {
  font-size: 26px;
  line-height: 28px;
  padding-top: 44px;
}

.text_introduction {
  grid-area: row-1 / col-start / row-2 / col-stop;
  grid-auto-rows: auto;
  margin-top: 20px;
  width: 506px;
  color: #D3D3D3;
  text-align: justify;
  overflow-x: hidden;
  overflow-y: none;
}

.spans_language {
  grid-area: row-2 / col-start / row-3 / col-stop;
  grid-auto-rows: auto;
}

.btn-enter {
  grid-area: row-3 / col-start / row-4 / col-1;
  grid-auto-rows: auto;
  margin-top: 20px;
}

/* BADGES */

.span_language {
  cursor: pointer;
}

.badge {
  background-color: #777777;
}

/* MENU */

#menu {
  z-index: 5;
  position: absolute;
  margin-top: 65px;
  right: 10px;
}

.menu_icons:hover {
  cursor: pointer;
}

/* CARDS */

.div_card {
  z-index: 4;
  position: absolute;
}

@media (min-width: 10px) {
  .div_card {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 10px;
    width: auto;
    margin-right: 70px;
  }
}

@media (min-width: 576px) {
  .div_card {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 20px;
    width: auto;
    margin-left: 70px;
  }
}

@media (min-width: 768px) {
  .div_card {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 40px;
    width: 400px;
  }
}

@media (min-width: 960px) {
  .div_card {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 80px;
    width: 400px;
  }
}

@media (min-width: 1140px) {
  .div_card {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 120px;
    width: 400px;
  }
}

.h1_card {
  font-family: Montserrat-Black;
  color: #D5CC00;
}

@media (min-width: 10px) {
  .h1_card {
    font-size: 30px;
    line-height: 35px;
  }
}

@media (min-width: 576px) {
  .h1_card {
    font-size: 30px;
    line-height: 35px;
  }
}

@media (min-width: 768px) {
  .h1_card {
    font-size: 36px;
    line-height: 35px;
  }
}

@media (min-width: 960px) {
  .h1_card {
    font-size: 36px;
    line-height: 35px;
  }
}

@media (min-width: 1140px) {
  .h1_card {
    font-size: 36px;
    line-height: 35px;
  }
}

.text_content {
  color: #D3D3D3;
  text-align: justify;
  padding-right: 20px;
  overflow-x: hidden;
  overflow-y: none;
}

@media (min-width: 10px) {
  .text_content {
    max-height: 250px;
    width: auto;
  }
}

@media (min-width: 576px) {
  .text_content {
    max-height: 250px;
    width: auto;
  }
}

@media (min-width: 768px) {
  .text_content {
      max-height: 400px;
  }
}

@media (min-width: 960px) {
  .text_content {
    max-height: 400px;
  }
}

@media (min-width: 1140px) {
  .text_content {
    max-height: 400px;
  }
}

/* SPANS DEVELOPMENT */

.span_development {
  font-size: 12px;
  padding-left: 20px;
}

/* STEREOSCOPY MOBILE */

#div_mobile_stereoscopy {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* STEREOSCOPY CV */

#div_cv_stereoscopy {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* MOVIES */

#btn_close_movies {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* INIT POSITION */

#init_position {
  position: absolute;
  bottom: 20px;
  right: 10px;
  cursor: pointer;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 6px;
}

@media (min-width: 10px) {
  ::-webkit-scrollbar {
    padding-left: 5px;
  }
}

@media (min-width: 576px) {
  ::-webkit-scrollbar {
    padding-left: 5px;
  }
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    padding-left: 10px;
  }
}

@media (min-width: 960px) {
  ::-webkit-scrollbar {
    padding-left: 10px;
  }
}

@media (min-width: 1140px) {
  ::-webkit-scrollbar {
    padding-left: 10px;
  }
}

::-webkit-scrollbar-track {
  margin-top: 15px;
  margin-bottom: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ffffff44;
}

/* CACHE */

#cache_mobileDevice {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
}
