<canvas #rendererCanvas_laboratory id="rendererCanvas_laboratory"></canvas>

<div id="div_introduction_background" [style.display]="isVisible_introductionBackground ? 'block' : 'none'" [@isLoaded_fadeOut]="isLoaded_fadeOut">
</div>

<div id="div_introduction" [style.display]="isVisible_introduction ? 'block' : 'none'" *ngIf="isVisible_introduction">
    <div id="container_introduction" class="container">
        <div class="row">
            <div class="col-md-8 col-lg-12 col-xl-12">
                <h1 class="h1_webDeveloper" *ngIf="language_english" [@webDeveloper_fadeIn]="webDeveloper_fadeIn">WEB<br/>DEVELOPER</h1>
                <h1 class="h1_webDeveloper" *ngIf="language_french" [@webDeveloper_fadeIn]="webDeveloper_fadeIn">DEVELOPPEUR<br/>WEB</h1>
                <h1 class="h1_webDeveloper" *ngIf="language_spanish" [@webDeveloper_fadeIn]="webDeveloper_fadeIn">DESARROLADOR<br/>WEB</h1>
                <span class="span_webDeveloper" [@webDeveloper_fadeIn]="webDeveloper_fadeIn">SPRING - ANGULAR - BABYLONJS</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-sm-7 col-md-6 col-lg-6 col-xl-6" [@introduction_fadeIn]="introduction_fadeIn">
                <p class="text_introduction pr-3" *ngIf="language_english">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget nisl est.
                  Pellentesque pulvinar nunc neque, eleifend pellentesque augue bibendum non.
                  Quisque lorem dui, accumsan eget tristique id, pellentesque sit amet quam.
                  Nullam pretium maximus mollis.
                  Aenean sollicitudin augue libero, et tristique elit ultrices eu. Aenean auctor porta efficitur.
                  Mauris tincidunt nulla nibh, vitae dictum ligula luctus sodales.
                  Nulla est eros, auctor ullamcorper scelerisque sed, tristique commodo erat.
                  Vestibulum vel turpis non diam aliquet tristique sed eget felis.
                  Sed bibendum ligula urna, sit amet rutrum dui tristique quis.
                  In gravida magna nec turpis dignissim, id elementum sem dapibus.
                </p>
                <p class="text_introduction" *ngIf="language_french">
                  A l'heure où la présence sur le web et oú l'identié numérique sont devenus fondamentales, il est important pur tout communiquan t e trouver une solution iédéle.

                  De véhiculer un image. Reposer sur des technologies solides et novatrices

                  La 3D une nouvelle manière de s'exprimer, d'expérimenter, de classer des données.

                  Ce "laboratoire" a pour ambition de présnter mon tarvail, de servir de plateforme au partage du savoir-faire



                  Passionné par les arts graphiques et les jeux vidéos, captivés par les nouvelles nouvelles technologies, il me fallait trouver un environnement idéal à l'association de ces deux sensibilités.
                  A l´heure d'un basculement vers la numérisation des achats, des informations

                  Tombé très jeune dans l'informatique, passionné par l'art et les nouvelles technologies, le Web m'est apparu comme un environnemt idéal à l'association de ces deux sensibilités.
                  De la maîtrise des langages utiles à la réalisation de sites à celle des logiciels de graphismes, je me suis très vite senti à l'etroit sur ce plan en deux dimensions.<br/>
                  La découverte de la 3D me fit l'effet d'entrer dans un nouvel univers. Un univers très similaire au notre et lui aussi régit par la physique et les mathématiques.
                  Très presente autour de nous, dans le cinema, les jeux vidéos, toutefois pas encore sur internet...
                  La capacité des réseaux et la puissance de calcul des terminaux ont jusqu'ici eté un frein à l'intégration de la troisième dimension au Web.
                  Mais ces barrières sont aujourd'hui sur le point de tomber, laissant le champ libre à une nouvelle manière de s'exprimer, d'expérimenter, de classer des données.<br/>
                  Ce site est le fruit d'un long apprentissage des langages de programmations et des outils graphiques, guidées par la volonté de réaliser des sites en 3 dimensions reposant sur des technologies solides et novatrices.
                  Cette plateforme est un "laboratoire" ayant pour objectif, d'une part, de présenter mon travail, et, d'autre part, de partager mon savoir-faire.
                </p>
                <p class="text_introduction" *ngIf="language_spanish">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget nisl est.
                  Pellentesque pulvinar nunc neque, eleifend pellentesque augue bibendum non.
                  Quisque lorem dui, accumsan eget tristique id, pellentesque sit amet quam.
                  Nullam pretium maximus mollis.
                  Aenean sollicitudin augue libero, et tristique elit ultrices eu. Aenean auctor porta efficitur.
                  Mauris tincidunt nulla nibh, vitae dictum ligula luctus sodales.
                  Nulla est eros, auctor ullamcorper scelerisque sed, tristique commodo erat.
                  Vestibulum vel turpis non diam aliquet tristique sed eget felis.
                  Sed bibendum ligula urna, sit amet rutrum dui tristique quis.
                  In gravida magna nec turpis dignissim, id elementum sem dapibus.
                </p>
                <div *ngIf="language_english">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_french()">french</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">spanish</span>
                </div>
                <div *ngIf="language_french">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">anglais</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">espagnol</span>
                </div>
                <div *ngIf="language_spanish">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">inglés</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_french()">francés</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <button id="btn_close_introduction" type="button" class="btn btn-primary mt-3" (click)="close_introduction()" [disabled]="isLoaded == false" [@btnCloseIntroduction_fadeIn]="btnCloseIntroduction_fadeIn">
                    <span *ngIf="language_english">Enter</span>
                    <span *ngIf="language_french">Entrer</span>
                    <span *ngIf="language_spanish">Entrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_running ? 'block' : 'none'" [@isVisible_running]="isVisible_running">
    <div class="container_card container">
        <div class="row">
            <div class="col-12">
                <h1 class="h1_card" *ngIf="language_english">RUNNING</h1>
                <h1 class="h1_card" *ngIf="language_french">RUNNING</h1>
                <h1 class="h1_card" *ngIf="language_spanish">RUNNING</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
              <p class="text_content" *ngIf="language_english">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
              </p>
              <p class="text_content" *ngIf="language_french">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
              </p>
              <p class="text_content" *ngIf="language_spanish">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
              </p>
              <div *ngIf="language_english">
                  <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_french()">french</span>
                  <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">spanish</span>
              </div>
              <div *ngIf="language_french">
                  <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">anglais</span>
                  <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">espagnol</span>
              </div>
              <div *ngIf="language_spanish">
                  <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">inglés</span>
                  <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_french()">francés</span>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_running" type="button" class="btn btn-dark mt-3" (click)="close_running()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_shareKnowledge ? 'block' : 'none'" [@isVisible_shareKnowledge]="isVisible_shareKnowledge">
    <div class="container_card container">
        <div class="row">
            <div class="col-12">
                <h1 class="h1_card" *ngIf="language_english">SHARE KNOWLEDGE</h1>
                <h1 class="h1_card" *ngIf="language_french">PARTAGER LE SAVOIR</h1>
                <h1 class="h1_card" *ngIf="language_spanish">COMPARTIR CONOCIMIENTOS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
              <p class="text_content" *ngIf="language_english">
                Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
              </p>
              <p class="text_content" *ngIf="language_french">
                Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
              </p>
              <p class="text_content" *ngIf="language_spanish">
                Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
              </p>
              <div *ngIf="language_english">
                  <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_french()">french</span>
                  <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">spanish</span>
              </div>
              <div *ngIf="language_french">
                  <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">anglais</span>
                  <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">espagnol</span>
              </div>
              <div *ngIf="language_spanish">
                  <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">inglés</span>
                  <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_french()">francés</span>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_shareKnowledge" type="button" class="btn btn-dark mt-3" (click)="close_shareKnowledge()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_photography ? 'block' : 'none'" [@isVisible_photography]="isVisible_photography">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <h1 class="h1_card" *ngIf="language_english">PHOTOGRAPHY</h1>
                <h1 class="h1_card" *ngIf="language_french">PHOTOGRAPHIE</h1>
                <h1 class="h1_card" *ngIf="language_spanish">FOTOGRAFÍA</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
                </p>
                <p class="text_content" *ngIf="language_french">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
                </p>
                <p class="text_content" *ngIf="language_spanish">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
                </p>
                <div *ngIf="language_english">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_french()">french</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">spanish</span>
                </div>
                <div *ngIf="language_french">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">anglais</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">espagnol</span>
                </div>
                <div *ngIf="language_spanish">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">inglés</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_french()">francés</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_photography" type="button" class="btn btn-dark mt-3" (click)="close_photography()">
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_games ? 'block' : 'none'" [@isVisible_games]="isVisible_games">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <h1 class="h1_card" *ngIf="language_english">JEUX DE STRATÉGIE</h1>
                <h1 class="h1_card" *ngIf="language_french">STRATEGY GAMES</h1>
                <h1 class="h1_card" *ngIf="language_spanish">JUEGOS DE ESTRATEGIA</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
                </p>
                <p class="text_content" *ngIf="language_french">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
                </p>
                <p class="text_content" *ngIf="language_spanish">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
                </p>
                <div *ngIf="language_english">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_french()">french</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">spanish</span>
                </div>
                <div *ngIf="language_french">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">anglais</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">espagnol</span>
                </div>
                <div *ngIf="language_spanish">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">inglés</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_french()">francés</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_games" type="button" class="btn btn-dark mt-3" (click)="close_games()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_stereoscopy ? 'block' : 'none'" [@isVisible_stereoscopy]="isVisible_stereoscopy">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <h1 class="h1_card" *ngIf="language_english">STEREOSCOPY</h1>
                <h1 class="h1_card" *ngIf="language_french">STEREOSCOPIE</h1>
                <h1 class="h1_card" *ngIf="language_spanish">ESTEREOSCOPIA</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
                </p>
                <p class="text_content" *ngIf="language_french">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
                </p>
                <p class="text_content" *ngIf="language_spanish">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
                </p>
                <p>
                    <button id="btn_switch_camera" type="button" class="btn btn-primary" (click)="animation_switch_camera()">
                        <span *ngIf="language_english && !anaglyph_activated">Anaglyph</span>
                        <span *ngIf="language_english && anaglyph_activated">Regular</span>
                        <span *ngIf="language_french && !anaglyph_activated">Anaglyphe</span>
                        <span *ngIf="language_french && anaglyph_activated">Normale</span>
                        <span *ngIf="language_spanish && !anaglyph_activated">Anaglifo</span>
                        <span *ngIf="language_spanish && anaglyph_activated">Normale</span>
                    </button>
                </p>
                <div *ngIf="language_english">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_french()">french</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">spanish</span>
                </div>
                <div *ngIf="language_french">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">anglais</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">espagnol</span>
                </div>
                <div *ngIf="language_spanish">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">inglés</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_french()">francés</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_stereoscopy" type="button" class="btn btn-dark mt-3" (click)="close_stereoscopy()" [disabled]="anaglyph_activated == true">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_art ? 'block' : 'none'" [@isVisible_art]="isVisible_art">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <h1 class="h1_card" *ngIf="language_english">ARTS</h1>
                <h1 class="h1_card" *ngIf="language_french">ARTS</h1>
                <h1 class="h1_card" *ngIf="language_spanish">ARTES</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
                </p>
                <p class="text_content" *ngIf="language_french">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
                </p>
                <p class="text_content" *ngIf="language_spanish">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
                </p>
                <div *ngIf="language_english">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_french()">french</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">spanish</span>
                </div>
                <div *ngIf="language_french">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">anglais</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">espagnol</span>
                </div>
                <div *ngIf="language_spanish">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">inglés</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_french()">francés</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_Art" type="button" class="btn btn-dark mt-3" (click)="close_art()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_contactMe ? 'block' : 'none'" [@isVisible_contactMe]="isVisible_contactMe">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <div class="div_Head">
                    <h1 class="h1_card" *ngIf="language_english">CONTACT ME</h1>
                    <h1 class="h1_card" *ngIf="language_french">ME CONTACTER</h1>
                    <h1 class="h1_card" *ngIf="language_spanish">CONTÁCTAME</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">
                </p>
                <p class="text_content" *ngIf="language_french">
                </p>
                <p class="text_content" *ngIf="language_spanish">
                </p>

                <!-- Default form contact -->
                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

                  <div class="form-group">
                    <label for="contactFormName" class="text-light mt-1">Your name</label>
                    <input type="text" id="contactFormName" name="contactFormName" formControlName="contactFormName" class="form-control">
                  </div>

                  <!-- Email -->
                  <div class="form-group">
                    <label for="contactFormEmail" class="text-light mt-1">Your email</label>
                    <input type="email" id="contactFormEmail" name="contactFormEmail" formControlName="contactFormEmail" class="form-control">
                  </div>

                  <!-- Message -->
                  <div class="form-group">
                    <label for="contactFormSubjects" class="text-light mt-1">Why would you like to contact me ? 🤔</label>
                    <input type="email" id="contactFormSubjects" name="contactFormSubjects" formControlName="contactFormSubjects" class="form-control">
                  </div>

                  <!-- Message -->
                  <div class="form-group">
                    <label for="contactFormMessage" class="text-light mt-1">Your message</label>
                    <textarea id="contactFormMessage" name="contactFormMessage" formControlName="contactFormMessage" class="form-control"></textarea>
                  </div>

                  <!-- Send button -->
                  <div class="form-group">
                    <button type="submit" class="btn btn-danger mt-1" [disabled]="disabledSubmitButton">
                        <span *ngIf="language_english">Send</span>
                        <span *ngIf="language_french">Envoyer</span>
                        <span *ngIf="language_spanish">Enviar</span>
                    </button>
                  </div>
                </form>

                <div *ngIf="language_english">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_french()">french</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">spanish</span>
                </div>
                <div *ngIf="language_french">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">anglais</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">espagnol</span>
                </div>
                <div *ngIf="language_spanish">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">inglés</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_french()">francés</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_contactMe" type="button" class="btn btn-dark mt-3" (click)="close_contactMe()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_development ? 'block' : 'none'" [@isVisible_development]="isVisible_development">
    <div class="container_card container">
        <div class="row">
            <div class="col-12">
                <h1 class="h1_card" *ngIf="language_english">DEVELOPMENT</h1>
                <h1 class="h1_card" *ngIf="language_french">MODE D'EMPLOI</h1>
                <h1 class="h1_card" *ngIf="language_spanish">DESAROLLO</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
                </p>
                <p class="text_content" *ngIf="language_french">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
                </p>
                <p class="text_content" *ngIf="language_spanish">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
                </p>
                <div *ngIf="language_english">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_french()">french</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">spanish</span>
                </div>
                <div *ngIf="language_french">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">anglais</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">espagnol</span>
                </div>
                <div *ngIf="language_spanish">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">inglés</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_french()">francés</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_development" type="button" class="btn btn-dark mt-3" (click)="close_development()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_travel ? 'block' : 'none'" [@isVisible_travel]="isVisible_travel">
    <div class="container_card container">
        <div class="row">
            <div class="col-12">
                <h1 class="h1_card" *ngIf="language_english">TRAVELER</h1>
                <h1 class="h1_card" *ngIf="language_french">VOYAGEUR</h1>
                <h1 class="h1_card" *ngIf="language_spanish">VIAJERO</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
                </p>
                <p class="text_content" *ngIf="language_french">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
                </p>
                <p class="text_content" *ngIf="language_spanish">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
                </p>
                <div *ngIf="language_english">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_french()">french</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">spanish</span>
                </div>
                <div *ngIf="language_french">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">anglais</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">espagnol</span>
                </div>
                <div *ngIf="language_spanish">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">inglés</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_french()">francés</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_travel" type="button" class="btn btn-dark mt-3" (click)="close_travel()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_movies ? 'block' : 'none'" [@isVisible_movies]="isVisible_movies">
    <div class="container_card container">
        <div class="row">
            <div class="col-12">
                <h1 class="h1_card" *ngIf="language_english">CINEPHILE</h1>
                <h1 class="h1_card" *ngIf="language_french">CINÉPHILE</h1>
                <h1 class="h1_card" *ngIf="language_spanish">CINÉFILO</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
                </p>
                <p class="text_content" *ngIf="language_french">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
                </p>
                <p class="text_content" *ngIf="language_spanish">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
                </p>
                <div *ngIf="language_english">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_french()">french</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">spanish</span>
                </div>
                <div *ngIf="language_french">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">anglais</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">espagnol</span>
                </div>
                <div *ngIf="language_spanish">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">inglés</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_french()">francés</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_movies" type="button" class="btn btn-dark mt-3" (click)="close_movies()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!--
<div id="div_cache" [style.display]="isVisible_cache ? 'block' : 'none'">
</div>
-->

<div id="divDashBoard" *ngIf="isVisible_dashBoard">
    <h3>Window</h3>
    <div>
        <p>Width : <span>{{ innerWidth }}</span></p>
        <p>Height : <span>{{ innerHeight }}</span></p>
    </div>
    <h3>Camera</h3>
    <div>
        <p>Alpha : <span>{{ camera_datas.alpha }}</span></p>
        <p>Beta : <span>{{ camera_datas.beta }}</span></p>
        <p>Radius : <span>{{ camera_datas.radius }}</span></p>
        <p>X : <span>{{ camera_datas.x }}</span></p>
        <p>Y : <span>{{ camera_datas.y }}</span></p>
        <p>Z : <span>{{ camera_datas.z }}</span></p>
    </div>
</div>

