<canvas #rendererCanvas_laboratory id="rendererCanvas_laboratory"></canvas>

<div id="div_introduction_background" [style.display]="isVisible_introductionBackground ? 'block' : 'none'" [@isLoaded_fadeOut]="isLoaded_fadeOut">
</div>

<div id="div_introduction" [style.display]="isVisible_introduction ? 'block' : 'none'" *ngIf="isVisible_introduction">
    <div id="container_introduction" class="container">
        <div class="row">
            <div class="col-md-8 col-lg-12 col-xl-12">
                <h1 class="h1_webDeveloper" *ngIf="language_english" [@webDeveloper_fadeIn]="webDeveloper_fadeIn">WEB<br/>DEVELOPER</h1>
                <h1 class="h1_webDeveloper" *ngIf="language_french" [@webDeveloper_fadeIn]="webDeveloper_fadeIn">DEVELOPPEUR<br/>WEB</h1>
                <h1 class="h1_webDeveloper" *ngIf="language_spanish" [@webDeveloper_fadeIn]="webDeveloper_fadeIn">DESARROLADOR<br/>WEB</h1>
                <span class="span_webDeveloper" [@webDeveloper_fadeIn]="webDeveloper_fadeIn">SPRING - ANGULAR - BABYLONJS</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-sm-12 col-md-6 col-lg-7 col-xl-7" [@introduction_fadeIn]="introduction_fadeIn">
                <p class="text_introduction pr-3" *ngIf="language_english">
                    Having fallen into computer science at a very young age, passionate about art and new technologies, the Web appeared to me as an ideal environment for the association of these two sensibilities.
                    From mastering languages ​​useful for creating sites to mastering graphics software, I quickly felt cramped on this two-dimensional plan. <br/>
                    The discovery of 3D made me the effect of entering a new universe. A universe very similar to ours and it too is governed by physics and mathematics.
                    The capacity of networks and the computing power of terminals have hitherto been a hindrance to the integration of the third dimension into the Web.
                    But these barriers are now on the verge of falling, leaving the field open to a new way of expressing oneself, of experimenting, of classifying data. <br/>
                    This site is the result of a long training in programming languages ​​and graphical tools, guided by the desire to create 3-dimensional sites based on solid and innovative technologies.
                    This platform is a "laboratory" having for objective, on the one hand, to present my work, and, on the other hand, to share my know-how.
                </p>
                <p class="text_introduction" *ngIf="language_french">
                    Tombé très jeune dans l'informatique, passionné par l'art et les nouvelles technologies, le Web m'est apparu comme un environnemt idéal à l'association de ces deux sensibilités.
                    De la maîtrise des langages utiles à la réalisation de sites à celle des logiciels de graphismes, je me suis très vite senti à l'etroit sur ce plan en deux dimensions.<br/>
                    La découverte de la 3D me fit l'effet d'entrer dans un nouvel univers. Un univers très similaire au notre et lui aussi régit par la physique et les mathématiques.
                    Très presente autour de nous, dans le cinema, les jeux vidéos, toutefois pas encore sur internet...
                    La capacité des réseaux et la puissance de calcul des terminaux ont jusqu'ici eté un frein à l'intégration de la troisième dimension au Web.
                    Mais ces barrières sont aujourd'hui sur le point de tomber, laissant le champ libre à une nouvelle manière de s'exprimer, d'expérimenter, de classer des données.<br/>
                    Ce site est le fruit d'un long apprentissage des langages de programmations et des outils graphiques, guidées par la volonté de réaliser des sites en 3 dimensions reposant sur des technologies solides et novatrices.
                    Cette plateforme est un "laboratoire" ayant pour objectif, d'une part, de présenter mon travail, et, d'autre part, de partager mon savoir-faire.
                </p>
                <p class="text_introduction" *ngIf="language_spanish">
                    Habiendo entrado en la informática desde muy joven, apasionado por el arte y las nuevas tecnologías, la Web me pareció un entorno ideal para la asociación de estas dos sensibilidades.
                    Desde dominar lenguajes útiles para crear sitios hasta dominar el software de gráficos, rápidamente me sentí abrumado en este plan bidimensional.<br/>
                    El descubrimiento de 3D me hizo el efecto de entrar en un nuevo universo. Un universo muy parecido al nuestro y que también se rige por la física y las matemáticas.
                    La capacidad de las redes y la potencia informática de los terminales han sido hasta ahora un obstáculo para la integración de la tercera dimensión en la Web.
                    Pero estas barreras ahora están a punto de caer, dejando el campo abierto a una nueva forma de expresarse, de experimentar, de clasificar los datos.<br/>
                    Este sitio es el resultado de una larga formación en lenguajes de programación y herramientas gráficas, guiados por el deseo de crear sitios tridimensionales basados ​​en tecnologías sólidas e innovadoras.
                    Esta plataforma es un "laboratorio" que tiene como objetivo, por un lado, presentar mi trabajo y, por otro, compartir mi saber hacer.
                </p>
                <div *ngIf="language_english">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_french()">french</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">spanish</span>
                </div>
                <div *ngIf="language_french">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">anglais</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">espagnol</span>
                </div>
                <div *ngIf="language_spanish">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">inglés</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_french()">francés</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <button id="btn_close_introduction" type="button" class="btn btn-dark mt-3" (click)="close_introduction()" [disabled]="isLoaded == false" [@btnCloseIntroduction_fadeIn]="btnCloseIntroduction_fadeIn">
                    <span *ngIf="language_english">Enter</span>
                    <span *ngIf="language_french">Entrer</span>
                    <span *ngIf="language_spanish">Entrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_running ? 'block' : 'none'" [@isVisible_running]="isVisible_running">
    <div class="container_card container">
        <div class="row">
            <div class="col-12">
                <h1 class="h1_card" *ngIf="language_english">RUNNING</h1>
                <h1 class="h1_card" *ngIf="language_french">RUNNING</h1>
                <h1 class="h1_card" *ngIf="language_spanish">RUNNING</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
              <p class="text_content" *ngIf="language_english">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
              </p>
              <p class="text_content" *ngIf="language_french">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
              </p>
              <p class="text_content" *ngIf="language_spanish">
                  Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                  Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                  sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                  Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
              </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button btnClose_Introduction id="btn_close_running" type="button" class="btn btn-dark" (click)="close_running()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_shareKnowledge ? 'block' : 'none'" [@isVisible_shareKnowledge]="isVisible_shareKnowledge">
    <div class="container_card container">
        <div class="row">
            <div class="col-12">
                <h1 class="h1_card" *ngIf="language_english">SHARE KNOWLEDGE</h1>
                <h1 class="h1_card" *ngIf="language_french">PARTAGE DE CONNAISSANCES</h1>
                <h1 class="h1_card" *ngIf="language_spanish">COMPARTIR LOS CONOCIMIENTOS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">
                    Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                    Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                    sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                    Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
                </p>
                <p class="text_content" *ngIf="language_french">
                    C'est en grande partie grâces aux forums, aux tutoriaux, aux youtubeurs que j'ai (et je pense comme beaucoup d'autres !) eu la'opportunité de progresser.
                    Maintenant c'est à mon tour !
                    Cette partie est en préparation. Je souhaite utiliser la trois dimensions et tenter d'exploiter au mieux ses avantages pour que les tutos soient le plus ludique / intuitifs
                    J'essaierai également de fournir une documnetation permettant de ráliser un site from scratch avec les outils que je maîtrise.
                </p>
                <p class="text_content" *ngIf="language_spanish">
                    Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit.
                    Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius;
                    sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo.
                    Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button btnClose_Introduction id="btn_close_shareKnowledge" type="button" class="btn btn-dark" (click)="close_shareKnowledge()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_photography ? 'block' : 'none'" [@isVisible_photography]="isVisible_photography">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <h1 class="h1_card" *ngIf="language_english">PHOTOGRAPHY</h1>
                <h1 class="h1_card" *ngIf="language_french">PHOTOGRAPHIE</h1>
                <h1 class="h1_card" *ngIf="language_spanish">FOTOGRAFÍA</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">
                </p>
                <p class="text_content" *ngIf="language_french">
                    Photographe de rue. Portraits et paysages urbains.
                </p>
                <p class="text_content" *ngIf="language_spanish">
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button btnClose_Introduction id="btn_close_photography" type="button" class="btn btn-dark" (click)="close_photography()">
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_games ? 'block' : 'none'" [@isVisible_games]="isVisible_games">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <h1 class="h1_card" *ngIf="language_english">JEUX DE STRATÉGIE</h1>
                <h1 class="h1_card" *ngIf="language_french">STRATEGY GAMES</h1>
                <h1 class="h1_card" *ngIf="language_spanish">JUEGOS DE ESTRATEGIA</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">
                </p>
                <p class="text_content" *ngIf="language_french">

                </p>
                <p class="text_content" *ngIf="language_spanish">
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button btnClose_Introduction id="btn_close_games" type="button" class="btn btn-dark" (click)="close_games()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_stereoscopy ? 'block' : 'none'" [@isVisible_stereoscopy]="isVisible_stereoscopy">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <h1 class="h1_card" *ngIf="language_english">STEREOSCOPY</h1>
                <h1 class="h1_card" *ngIf="language_french">STEREOSCOPIE</h1>
                <h1 class="h1_card" *ngIf="language_spanish">ESTEREOSCOPIA</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">
                </p>
                <p class="text_content" *ngIf="language_french">
                    C'est sur cette technique très ancienne que repose le cinéma 3D. La perception de relief se constitue dans le cerveau à partir de deux images planes et différentes. Chacune d'elles provenant d'un oeil différent.
                    De nombreuses techniques permettent de simulter l'effet de profondeur, et certaines d'entre-elles sont applicables au web.



                    La stéréoscopie est la technique sur laquelle repose le "Cinéma 3D". En effet, la perception du relief se constitue dans le cerveau à partir de la perception de deux images planes et différentes, provenant de chaque oeil.
                    C'est également la technique utilisée par Oculus VR et qui sera certaine l'outil de la réalité augmentée.
                </p>
                <p class="text_content" *ngIf="language_spanish">
                </p>
                <p>
                    <button btn_SwitchCamera id="btn_switch_camera" type="button" class="btn btn-primary" (click)="animation_switch_camera()">
                        <span *ngIf="language_english && !anaglyph_activated">Anaglyphe</span>
                        <span *ngIf="language_english && anaglyph_activated">Regular</span>
                        <span *ngIf="language_french && !anaglyph_activated">Anaglyphe</span>
                        <span *ngIf="language_french && anaglyph_activated">Normale</span>
                        <span *ngIf="language_spanish && !anaglyph_activated">Anaglifo</span>
                        <span *ngIf="language_spanish && anaglyph_activated">Normale</span>
                    </button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_stereoscopy" type="button" class="btn btn-dark" (click)="close_stereoscopy()" [disabled]="anaglyph_activated == true">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_art ? 'block' : 'none'" [@isVisible_art]="isVisible_art">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <h1 class="h1_card" *ngIf="language_english">ARTS</h1>
                <h1 class="h1_card" *ngIf="language_french">ARTS</h1>
                <h1 class="h1_card" *ngIf="language_spanish">ARTES</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">

                </p>
                <p class="text_content" *ngIf="language_french">
                    Vecteur d'émotions,
                </p>
                <p class="text_content" *ngIf="language_spanish">
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button btnClose_Introduction id="btn_close_Art" type="button" class="btn btn-dark" (click)="close_art()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_contactMe ? 'block' : 'none'" [@isVisible_contactMe]="isVisible_contactMe">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <div class="div_Head">
                    <h1 class="h1_card" *ngIf="language_english">CONTACT ME</h1>
                    <h1 class="h1_card" *ngIf="language_french">ME CONTACTER</h1>
                    <h1 class="h1_card" *ngIf="language_spanish">CONTÁCTAME</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">
                </p>
                <p class="text_content" *ngIf="language_french">
                </p>
                <p class="text_content" *ngIf="language_spanish">
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button btnClose_Introduction id="btn_close_contactMe" type="button" class="btn btn-dark" (click)="close_contactMe()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_development ? 'block' : 'none'" [@isVisible_development]="isVisible_development">
    <div class="container_card container">
        <div class="row">
            <div class="col-12">
                <h1 class="h1_card" *ngIf="language_english">DEVELOPMENT</h1>
                <h1 class="h1_card" *ngIf="language_french">MODE D'EMPLOI</h1>
                <h1 class="h1_card" *ngIf="language_spanish">DESAROLLO</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">

                </p>
                <p class="text_content" *ngIf="language_french">
                    La réalisation de ce site repose sur l'utilisation et la conbinaisons de divers langages et frameworks.
                    La 3D est traitée par le moteur de rendu Babylon.js qui utilise la bibliothèque JavaScript.
                    Le canvas renfermant la 3D est intégré au framework Angular.
                    Ce dernier communiquant côté serveur avec un application Spring.
                    Les données circulent de la scene en trois dimensions à la base de données et peuvent être traitée tout le long de la chaîne.
                    <br/>
                    Pour plus de détail, accédez à la partir développement.
                </p>
                <p class="text_content" *ngIf="language_spanish">

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_development" type="button" class="btn btn-dark" (click)="close_development()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_travel ? 'block' : 'none'" [@isVisible_travel]="isVisible_travel">
    <div class="container_card container">
        <div class="row">
            <div class="col-12">
                <h1 class="h1_card" *ngIf="language_english">TRAVELER</h1>
                <h1 class="h1_card" *ngIf="language_french">VOYAGEUR</h1>
                <h1 class="h1_card" *ngIf="language_spanish">VIAJERO</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">

                </p>
                <p class="text_content" *ngIf="language_french">
                    Né au Venezuela, d'une mère colombienne et d'un père français, on peut dire que j'ai le voyage dans le sang !
                    Mes premières années se sont ... entre le Nord de la France et Medellìn en Colombie.
                    Éclaireur adolescent, j'ai eu la chance de visiter une grande partie de l'Europe.
                    Decouvert la France et se regions
                    Quelques années à Genève, puis une autre à Medellin avant d'arriver à Londres.
                </p>
                <p class="text_content" *ngIf="language_spanish">

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_travel" type="button" class="btn btn-dark" (click)="close_travel()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="divDashBoard" *ngIf="isVisible_dashBoard">
    <h3>Window</h3>
    <div>
        <p>Width : <span>{{ innerWidth }}</span></p>
        <p>Height : <span>{{ innerHeight }}</span></p>
    </div>
    <h3>Camera</h3>
    <div>
        <p>Alpha : <span>{{ camera_datas.alpha }}</span></p>
        <p>Beta : <span>{{ camera_datas.beta }}</span></p>
        <p>Radius : <span>{{ camera_datas.radius }}</span></p>
        <p>X : <span>{{ camera_datas.x }}</span></p>
        <p>Y : <span>{{ camera_datas.y }}</span></p>
        <p>Z : <span>{{ camera_datas.z }}</span></p>
    </div>
</div>

