/* CANVAS */

#rendererCanvas_laboratory {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    touch-action: none;
}

/* BACKGROUND */

#div_introduction_background {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #160130;
}
