/* CANVAS */

#rendererCanvas_laboratory {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    touch-action: none;
}

/* BACKGROUND */

#div_introduction_background {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #160130;
}

/* INTRODUCTION */

#div_introduction {
    z-index: 2;
    position: absolute;
}

@media (min-width: 10px) {
    #div_introduction {
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 10px;
    }
}

@media (min-width: 576px) {
    #div_introduction {
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 20px;
    }
}

@media (min-width: 768px) {
    #div_introduction {
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 40px;
    }
}

@media (min-width: 960px) {
    #div_introduction {
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 80px;
    }
}

@media (min-width: 1140px) {
    #div_introduction {
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 120px;
    }
}

.h1_webDeveloper {
    font-family: Peace-Sans-Webfont;
    color: #D5CC00CC;
}

@media (min-width: 10px) {
    .h1_webDeveloper {
        font-size: 55px;
        line-height: 45px;
    }
}

@media (min-width: 576px) {
    .h1_webDeveloper {
        font-size: 45px;
        line-height: 40px;
    }
}

@media (min-width: 768px) {
    .h1_webDeveloper {
        font-size: 55px;
        line-height: 45px;
    }
}

@media (min-width: 960px) {
    .h1_webDeveloper {
        font-size: 60px;
        line-height: 50px;
    }
}

@media (min-width: 1140px) {
    .h1_webDeveloper {
        font-size: 80px;
        line-height: 65px;
    }
}

.span_webDeveloper {
    margin-top: -50;
    font-family: Peace-Sans-Webfont;
    font-size: 24px;
    color: #007CB1CC;
}

@media (min-width: 10px) {
    .span_webDeveloper {
        font-size: 18px;
    }
}

@media (min-width: 576px) {
    .span_webDeveloper {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .span_webDeveloper {
        font-size: 18pxpx;
    }
}

@media (min-width: 960px) {
    .span_webDeveloper {
        font-size: 20px;
    }
}

@media (min-width: 1140px) {
    .span_webDeveloper {
        font-size: 24px;
    }
}

.text_introduction {
    color: #D3D3D3;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
}

@media (min-width: 10px) {
    .text_introduction {
        max-height: 500px;
    }
}

@media (min-width: 576px) {
    .text_introduction {
        max-height: 400px;
    }
}

@media (min-width: 768px) {
    .text_introduction {
        max-height: 400px;
    }
}

@media (min-width: 960px) {
    .text_introduction {
        max-height: 400px;
    }
}

@media (min-width: 1140px) {
    .text_introduction {
        max-height: 400px;
    }
}

/* BADGES */

.span_language {
    cursor: pointer;
}

.badge {
  background-color: #777777;
}

/* CARDS */

.div_card {
    z-index: 4;
    position: absolute;
    width: 400px;
}

@media (min-width: 10px) {
    .div_card {
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 10px;
    }
}

@media (min-width: 576px) {
    .div_card {
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 20px;
    }
}

@media (min-width: 768px) {
    .div_card {
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 40px;
    }
}

@media (min-width: 960px) {
    .div_card {
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 80px;
    }
}

@media (min-width: 1140px) {
    .div_card {
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 120px;
    }
}

.h1_card {
    font-family: Peace-Sans-Webfont;
    font-size: 36px;
    line-height: 35px;
    color: #D5CC00;
}

.text_content {
    color: #D3D3D3;
    text-align: justify;
    overflow-x: none;
}

@media (min-width: 10px) {
    .text_content {
        max-height: 500px;
    }
}

@media (min-width: 576px) {
    .text_content {
        max-height: 400px;
    }
}

@media (min-width: 768px) {
    .text_content {
        max-height: 400px;
    }
}

@media (min-width: 960px) {
    .text_content {
        max-height: 400px;
    }
}

@media (min-width: 1140px) {
    .text_content {
        max-height: 400px;
    }
}

/* DASH BOARD */

#divDashBoard {
    z-index: 5;
    position: absolute;
    background-color: #00000088;
    color: #D3D3D3;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 85%;
    width: 200px;
    padding: 10px;
    font-size: 12px;
    border-radius: 10px;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  padding-left: 10px;
  width: 6px;
}

::-webkit-scrollbar-track {
  margin-top: 15px;
  margin-bottom: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ffffff44;
}

/* BACKGROUND */

#div_cache {
    z-index: 6;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000000;
}

