/* CANVAS */

#rendererCanvas_laboratory {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  touch-action: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* BACKGROUND */

#div_introductionBackground {
  z-index: 8;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #160130;
}

/* INTRODUCTION */

.container_introduction {
  z-index: 9;
  position: absolute;
}

@media (max-width: 576px) {
  .container_introduction {
    grid-template-columns: [col-start] 43px [col-1] 41px [col-2] auto [col-stop];
    grid-template-rows: [row-start] 100px [row-1] auto [row-2] auto [row-3] 40px [row-stop];
    display: grid;
    top: 70px;
    padding-left: 20px;
    padding-right: 10px;
  }

  .logo_moko_introduction {
    grid-area: row-start / col-start / row-1 / col-2;
    grid-auto-rows: auto;
    width: 88px;
    height: 100px;
  }

  .h1s-introduction {
    grid-area: row-start / col-2 / row-1 / col-stop;
    grid-auto-rows: auto;
    font-family: Montserrat-Black;
    color: white;
    padding-left: 20px;
  }

  .h1-english {
    font-size: 24px;
    line-height: 26px;
    padding-top: 31px;
  }

  @media (max-width: 441px) {
    .h1-english {
      font-size: 24px;
      line-height: 26px;
      padding-top: 6px;
    }
  }

  .h1-french {
    font-size: 20px;
    line-height: 22px;
    padding-top: 38px;
  }

  @media (max-width: 429px) {
    .h1-french {
      font-size: 20px;
      line-height: 22px;
      padding-top: 16px;
    }
  }

  .h1-spanish {
    font-size: 20px;
    line-height: 22px;
    padding-top: 38px;
  }

  @media (max-width: 433px) {
    .h1-spanish {
      font-size: 20px;
      line-height: 22px;
      padding-top: 16px;
    }
  }

  .text_introduction {
    grid-area: row-1 / col-start / row-2 / col-stop;
    grid-auto-rows: auto;
    margin-top: 20px;
    padding-right: 20px;
    width: 100%;
    max-height: 200px;
    color: #D3D3D3;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
  }

  .spans_language {
    grid-area: row-2 / col-start / row-3 / col-stop;
    grid-auto-rows: auto;
  }

  .btn-enter {
    grid-area: row-3 / col-start / row-stop / col-stop;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }
}

@media (min-width: 576px) {
  .container_introduction {
    grid-template-columns: [col-start] 43px [col-1] 41px [col-2] 344px [col-stop];
    grid-template-rows: [row-start] 100px [row-1] auto [row-2] auto [row-3] 40px [row-stop];
    display: grid;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 20px;
    margin-right: 20px;
  }

  .logo_moko_introduction {
    grid-area: row-start / col-start / row-1 / col-2;
    grid-auto-rows: auto;
    width: 84px;
    height: 100px;
  }

  .h1s-introduction {
    grid-area: row-start / col-2 / row-1 / col-stop;
    grid-auto-rows: auto;
    font-family: Montserrat-Black;
    color: white;
    padding-left: 20px;
  }

  .h1-english {
    font-size: 24px;
    line-height: 26px;
    padding-top: 31px;
  }

  .h1-french {
    font-size: 20px;
    line-height: 22px;
    padding-top: 38px;
  }

  .h1-spanish {
    font-size: 20px;
    line-height: 22px;
    padding-top: 38px;
  }

  .text_introduction {
    grid-area: row-1 / col-start / row-2 / col-stop;
    grid-auto-rows: auto;
    margin-top: 20px;
    padding-right: 20px;
    width: 450px;
    max-height: 200px;
    color: #D3D3D3;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
  }

  .spans_language {
    grid-area: row-2 / col-start / row-3 / col-stop;
    grid-auto-rows: auto;
  }

  .btn-enter {
    grid-area: row-3 / col-start / row-stop / col-stop;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }
}

@media (min-width: 768px) {
  .container_introduction {
    grid-template-columns: [col-start] 65px [col-1] 41px [col-2] 300px [col-stop];
    grid-template-rows: [row-start] 120px [row-1] auto [row-2] auto [row-3] 40px [row-stop];
    display: grid;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 50px;
  }

  .logo_moko_introduction {
    grid-area: row-start / col-start / row-1 / col-2;
    grid-auto-rows: auto;
    width: 106px;
    height: 120px;
  }

  .h1s-introduction {
    grid-area: row-start / col-2 / row-1 / col-stop;
    grid-auto-rows: auto;
    font-family: Montserrat-Black;
    color: white;
    font-size: 24px;
    line-height: 26px;
    padding-top: 22px;
    padding-left: 20px;
  }

  .h1s-introduction-isCV {
    padding-top: 47px;
  }

  .text_introduction {
    grid-area: row-1 / col-start / row-2 / col-stop;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 406px;
    color: #D3D3D3;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
  }

  .spans_language {
    grid-area: row-2 / col-start / row-3 / col-stop;
    grid-auto-rows: auto;
  }

  .btn-enter {
    grid-area: row-3 / col-start / row-stop / col-stop;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }
}

@media (min-width: 960px) {
  .container_introduction {
    grid-template-columns: [col-start] 65px [col-1] 41px [col-2] 300px [col-stop];
    grid-template-rows: [row-start] 120px [row-1] auto [row-2] auto [row-3] 40px [row-stop];
    display: grid;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 50px;
  }

  .logo_moko_introduction {
    grid-area: row-start / col-start / row-1 / col-2;
    grid-auto-rows: auto;
    width: 106px;
    height: 120px;
  }

  .h1s-introduction {
    grid-area: row-start / col-2 / row-1 / col-stop;
    grid-auto-rows: auto;
    font-family: Montserrat-Black;
    color: white;
    font-size: 24px;
    line-height: 26px;
    padding-top: 22px;
    padding-left: 20px;
  }

  .h1s-introduction-isCV {
    padding-top: 47px;
  }

  .text_introduction {
    grid-area: row-1 / col-start / row-2 / col-stop;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 406px;
    font-size: 16px;
    color: #D3D3D3;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
  }

  .spans_language {
    grid-area: row-2 / col-start / row-3 / col-stop;
    grid-auto-rows: auto;
  }

  .btn-enter {
    grid-area: row-3 / col-start / row-stop / col-stop;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }
}

@media (min-width: 1140px) {
  .container_introduction {
    grid-template-columns: [col-start] 65px [col-1] 41px [col-2] 400px [col-stop];
    grid-template-rows: [row-start] 120px [row-1] auto [row-2] auto [row-3] 40px [row-stop];
    display: grid;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 100px;
  }

  @media (min-width: 1400px) {
    .container_introduction {
      margin-left: 150px;
    }
  }

  .logo_moko_introduction {
    grid-area: row-start / col-start / row-1 / col-2;
    grid-auto-rows: auto;
    width: 106px;
    height: 120px;
  }

  .h1s-introduction {
    grid-area: row-start / col-2 / row-1 / col-stop;
    grid-auto-rows: auto;
    font-family: Montserrat-Black;
    color: white;
    padding-left: 20px;
  }

  .h1-english {
    font-size: 28px;
    line-height: 28px;
    padding-top: 42px;
  }

  .h1-french {
    font-size: 25px;
    line-height: 27px;
    padding-top: 46px;
  }

  .h1-spanish {
    font-size: 25px;
    line-height: 27px;
    padding-top: 46px;
  }

  .text_introduction {
    grid-area: row-1 / col-start / row-2 / col-stop;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 506px;
    color: #D3D3D3;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
  }

  .spans_language {
    grid-area: row-2 / col-start / row-3 / col-stop;
    grid-auto-rows: auto;
  }

  .btn-enter {
    grid-area: row-3 / col-start / row-stop / col-stop;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }
}

/* MENU */

.menu_container {
  z-index: 6;
  position: absolute;
}

.initPosition_container {
  z-index: 7;
  position: absolute;
}

@media (max-width: 799px) {
  .menu_container {
    grid-template-columns: [col-start-menu] 50px [col-1-menu] 50px [col-2-menu] 50px [col-3-menu] 50px [col-4-menu] auto [col-5-menu] 50px [col-stop-menu];
    grid-template-rows: [row-start-menu] 50px [row-stop-menu];
    display: grid;
    bottom: 0px;
    width: 100%;
    height: 50px;
  }

  .menu {
    grid-area: row-start-menu / col-start-menu / row-stop-menu / col-5-menu;
    grid-auto-rows: auto;
    background-color: #00000066;
  }

  .menu_icon_development {
    grid-area: row-start-menu / col-start-menu / row-stop-menu / col-1-menu;
    grid-auto-rows: auto;
  }

  .menu_icon_datas {
    grid-area: row-start-menu / col-1-menu / row-stop-menu / col-2-menu;
    grid-auto-rows: auto;
  }

  .menu_icon_stereoscopy {
    grid-area: row-start-menu / col-3-menu / row-stop-menu / col-4-menu;
    grid-auto-rows: auto;
  }

  .menu_icon_movies {
    grid-area: row-start-menu / col-4-menu / row-stop-menu / col-5-menu;
    grid-auto-rows: auto;
  }

  .menu_icons {
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
  }

  .initPosition_container {
    grid-template-columns: [col-start-menu] 50px [col-stop-menu];
    grid-template-rows: [row-start-menu] 50px [row-stop-menu];
    display: grid;
    right: 0px;
    bottom:0px;
    width: 50px;
    height: 50px;
    background-color: #00000066;
  }

  .icon_initPosition {
    grid-area: row-start-menu / col-start-menu / row-1-menu / col-stop-menu;
    grid-auto-rows: auto;
    width: 40px;
    height: 40px;
    margin: 5px;
  }
}

@media (min-width: 800px) {
  .menu_container {
    grid-template-columns: [col-start-menu] 50px [col-stop-menu];
    grid-template-rows: [row-start-menu] 250px [row-1-menu] 50px [row-2-menu] 50px [row-3-menu] 50px [row-4-menu] 1fr [row-5-menu] 60px [row-stop-menu];
    display: grid;
    right: 0px;
    width: 50px;
    height: 100%;
  }

  .menu {
    grid-area: row-1-menu / col-start-menu / row-5-menu / col-stop-menu;
    grid-auto-rows: auto;
    background-color: #00000066;
  }

  .menu_icon_development {
    grid-area: row-1-menu / col-start-menu / row-2-menu / col-stop-menu;
    grid-auto-rows: auto;
  }

  .menu_icon_datas {
    grid-area: row-2-menu / col-start-menu / row-3-menu / col-stop-menu;
    grid-auto-rows: auto;
  }

  .menu_icons {
    width: 40px;
    height: 40px;
    margin: 5px;
  }

  .initPosition_container {
    grid-template-columns: [col-start-menu] 50px [col-stop-menu];
    grid-template-rows: [row-start-menu] 60px [row-1-menu] 10px [row-stop-menu];
    display: grid;
    right: 0px;
    bottom:0px;
    width: 50px;
    height: 60px;
    background-color: #00000066;
  }

  .icon_initPosition {
    grid-area: row-start-menu / col-start-menu / row-1-menu / col-stop-menu;
    grid-auto-rows: auto;
  }
}

/* SWITCH CAMERA */

.switchCamera_container {
  z-index: 5;
  position: absolute;
}

@media (max-width: 576px) {
  .switchCamera_container {
    grid-template-columns: [col-start-switchCamera] 70px [col-stop-switchCamera];
    grid-template-rows: [row-start-switchCamera] 20px [row-1-switchCamera] auto [row-2-switchCamera] 60px [row-3-switchCamera] auto [row-4-switchCamera] 60px [row-5-switchCamera] auto [row-stop-switchCamera];
    display: grid;
    top: 80px;
    right: 0px;
    width: 70px;
  }

  /* RED CROSS */

  .red_cross {
    grid-area: row-start-switchCamera / col-start-switchCamera / row-1-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
    width: 15px;
    height: 15px;
    margin-bottom: 5px;
  }

  .switch_camera {
    grid-area: row-1-switchCamera / col-start-switchCamera / row-stop-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
    background-color: #00000088;
  }

  /* SPAN SWITCH CAMERA */

  .span_switchCamera {
    grid-area: row-1-switchCamera / col-start-switchCamera / row-2-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
    font-family: Roboto-Regular;
    font-size: 12px;
    text-align: center;
    color: white;
    margin: 10px;
  }

  /* CAMERA REGULAR */

  .div_cameraRegular {
    grid-area: row-2-switchCamera / col-start-switchCamera / row-4-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
    display: inline-block;
  }

  .img_cameraRegular {
    grid-area: row-2-switchCamera / col-start-switchCamera / row-3-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
  }

  .span_cameraRegular {
    grid-area: row-3-switchCamera / col-start-switchCamera / row-4-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
  }

  /* CAMERA ANAGLYPH */

  .div_cameraAnaglyph {
    grid-area: row-4-switchCamera / col-start-switchCamera / row-stop-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
    display: inline-block;
  }

  .img_cameraAnaglyph {
    grid-area: row-4-switchCamera / col-start-switchCamera / row-5-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
  }

  .span_cameraAnaglyph {
    grid-area: row-5-switchCamera / col-start-switchCamera / row-stop-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
  }

  .imgs_camera {
    width: 50px;
    height: 50px;
    margin: 10px;
    margin-bottom: 0px;
  }

  .spans_camera {
    padding: 8px;
    padding-bottom: 5px;
    font-family: Roboto-Regular;
    font-size: 12px;
    text-align: center;
    color: grey;
  }

  .isActive_spansCamera {
    color: #017bff;
  }
}

@media (min-width: 576px) {
  .switchCamera_container {
    grid-template-columns: [col-start-switchCamera] 70px [col-stop-switchCamera];
    grid-template-rows: [row-start-switchCamera] 20px [row-1-switchCamera] auto [row-2-switchCamera] 60px [row-3-switchCamera] auto [row-4-switchCamera] 60px [row-5-switchCamera] auto [row-stop-switchCamera];
    display: grid;
    top: 80px;
    right: 0px;
    width: 70px;
  }

  /* RED CROSS */

  .red_cross {
    grid-area: row-start-switchCamera / col-start-switchCamera / row-1-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
    width: 15px;
    height: 15px;
    margin-bottom: 5px;
  }

  .switch_camera {
    grid-area: row-1-switchCamera / col-start-switchCamera / row-stop-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
    background-color: #00000088;
  }

  /* SPAN SWITCH CAMERA */

  .span_switchCamera {
    grid-area: row-1-switchCamera / col-start-switchCamera / row-2-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
    font-family: Roboto-Regular;
    font-size: 12px;
    text-align: center;
    color: white;
    margin: 10px;
  }

  /* CAMERA REGULAR */

  .div_cameraRegular {
    grid-area: row-2-switchCamera / col-start-switchCamera / row-4-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
    display: inline-block;
  }

  .img_cameraRegular {
    grid-area: row-2-switchCamera / col-start-switchCamera / row-3-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
  }

  .span_cameraRegular {
    grid-area: row-3-switchCamera / col-start-switchCamera / row-4-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
  }

  /* CAMERA ANAGLYPH */

  .div_cameraAnaglyph {
    grid-area: row-4-switchCamera / col-start-switchCamera / row-stop-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
    display: inline-block;
  }

  .img_cameraAnaglyph {
    grid-area: row-4-switchCamera / col-start-switchCamera / row-5-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
  }

  .span_cameraAnaglyph {
    grid-area: row-5-switchCamera / col-start-switchCamera / row-stop-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
  }

  .imgs_camera {
    width: 50px;
    height: 50px;
    margin: 10px;
    margin-bottom: 0px;
  }

  .spans_camera {
    padding: 8px;
    padding-bottom: 5px;
    font-family: Roboto-Regular;
    font-size: 12px;
    text-align: center;
    color: grey;
  }

  .isActive_spansCamera {
    color: #017bff;
  }
}

@media (min-width: 768px) {
  .switchCamera_container {
    grid-template-columns: [col-start-switchCamera] 70px [col-1-switchCamera] 70px [col-stop-switchCamera];
    grid-template-rows: [row-start-switchCamera] 20px [row-1-switchCamera] auto [row-2-switchCamera] 60px [row-3-switchCamera] auto [row-stop-switchCamera];
    display: grid;
    top: 80px;
    right: 0px;
    width: 140px;
  }

  /* RED CROSS */

  .red_cross {
    grid-area: row-start-switchCamera / col-start-switchCamera / row-1-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
    width: 15px;
    height: 15px;
    margin-bottom: 5px;
  }

  /* SWITCH CAMERA */

  .switch_camera {
    grid-area: row-1-switchCamera / col-start-switchCamera / row-stop-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
    background-color: #00000088;
  }

  /* SPAN SWITCH CAMERA */

  .span_switchCamera {
    grid-area: row-s1-switchCamera / col-start-switchCamera / row-2-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
    font-family: Roboto-Bold;
    color: white;
    margin: 10px;
  }

  /* CAMERA REGULAR */

  .div_cameraRegular {
    grid-area: row-2-switchCamera / col-start-switchCamera / row-stop-switchCamera / col-1-switchCamera;
    grid-auto-rows: auto;
    display: inline-block;
  }

  .img_cameraRegular {
    grid-area: row-2-switchCamera / col-start-switchCamera / row-3-switchCamera / col-1-switchCamera;
    grid-auto-rows: auto;
  }

  .span_cameraRegular {
    grid-area: row-3-switchCamera / col-start-switchCamera / row-stop-switchCamera / col-1-switchCamera;
    grid-auto-rows: auto;
  }

  /* CAMERA ANAGLYPH */

  .div_cameraAnaglyph {
    grid-area: row2-switchCamera / col-1-switchCamera / row-stop-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
    display: inline-block;
  }

  .img_cameraAnaglyph {
    grid-area: row-2-switchCamera / col-1-switchCamera / row-3-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
  }

  .span_cameraAnaglyph {
    grid-area: row-3-switchCamera / col-1-switchCamera / row-stop-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
  }

  .imgs_camera {
    width: 50px;
    height: 50px;
    margin: 10px;
    margin-bottom: 0px;
  }

  .spans_camera {
    font-family: Roboto-Regular;
    font-size: 12px;
    color: grey;
    padding: 10px;
    text-align: center;
    padding-bottom: 5px;
  }

  .isActive_spansCamera {
    color: #017bff;
  }
}

@media (min-width: 960px) {
  .switchCamera_container {
    grid-template-columns: [col-start-switchCamera] 80px [col-1-switchCamera] 80px [col-stop-switchCamera];
    grid-template-rows: [row-start-switchCamera] 20px [row-1-switchCamera] auto [row-2-switchCamera] 70px [row-3-switchCamera] auto [row-stop-switchCamera];
    display: grid;
    top: 80px;
    right: 0px;
    width: 160px;
  }

  /* RED CROSS */

  .red_cross {
    grid-area: row-start-switchCamera / col-start-switchCamera / row-1-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
    width: 15px;
    height: 15px;
    margin-bottom: 5px;
  }

  /* SWITCH CAMERA */

  .switch_camera {
    grid-area: row-1-switchCamera / col-start-switchCamera / row-stop-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
    background-color: #00000088;
  }

  /* SPAN SWITCH CAMERA */

  .span_switchCamera {
    grid-area: row-s1-switchCamera / col-start-switchCamera / row-2-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
    font-family: Roboto-Bold;
    color: white;
    margin: 10px;
  }

  /* CAMERA REGULAR */

  .div_cameraRegular {
    grid-area: row-2-switchCamera / col-start-switchCamera / row-stop-switchCamera / col-1-switchCamera;
    grid-auto-rows: auto;
    display: inline-block;
  }

  .img_cameraRegular {
    grid-area: row-2-switchCamera / col-start-switchCamera / row-3-switchCamera / col-1-switchCamera;
    grid-auto-rows: auto;
  }

  .span_cameraRegular {
    grid-area: row-3-switchCamera / col-start-switchCamera / row-stop-switchCamera / col-1-switchCamera;
    grid-auto-rows: auto;
  }

  /* CAMERA ANAGLYPH */

  .div_cameraAnaglyph {
    grid-area: row2-switchCamera / col-1-switchCamera / row-stop-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
    display: inline-block;
  }

  .img_cameraAnaglyph {
    grid-area: row-2-switchCamera / col-1-switchCamera / row-3-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
  }

  .span_cameraAnaglyph {
    grid-area: row-3-switchCamera / col-1-switchCamera / row-stop-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
  }

  .imgs_camera {
    width: 60px;
    height: 60px;
    margin: 10px;
    margin-bottom: 0px;
  }

  .spans_camera {
    font-family: Roboto-Regular;
    font-size: 12px;
    color: grey;
    padding: 10px;
    text-align: center;
    padding-bottom: 5px;
  }

  .isActive_spansCamera {
    color: #017bff;
  }
}

@media (min-width: 1140px) {
  .switchCamera_container {
    grid-template-columns: [col-start-switchCamera] 90px [col-1-switchCamera] 90px [col-stop-switchCamera];
    grid-template-rows: [row-start-switchCamera] 20px [row-1-switchCamera] auto [row-2-switchCamera] 80px [row-3-switchCamera] auto [row-stop-switchCamera];
    display: grid;
    top: 80px;
    right: 0px;
    width: 180px;
  }

  /* RED CROSS */

  .red_cross {
    grid-area: row-start-switchCamera / col-start-switchCamera / row-1-switchCamera / col-1-switchCamera;
    grid-auto-rows: auto;
    width: 15px;
    height: 15px;
    margin-bottom: 5px;
  }

  /* SWITCH CAMERA */

  .switch_camera {
    grid-area: row-1-switchCamera / col-start-switchCamera / row-stop-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
    background-color: #00000088;
  }

  /* SPAN SWITCH CAMERA */

  .span_switchCamera {
    grid-area: row-s1-switchCamera / col-start-switchCamera / row-2-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
    font-family: Roboto-Bold;
    color: white;
    margin: 10px;
  }

  /* CAMERA REGULAR */

  .div_cameraRegular {
    grid-area: row-2-switchCamera / col-start-switchCamera / row-stop-switchCamera / col-1-switchCamera;
    grid-auto-rows: auto;
    display: inline-block;
  }

  .img_cameraRegular {
    grid-area: row-2-switchCamera / col-start-switchCamera / row-3-switchCamera / col-1-switchCamera;
    grid-auto-rows: auto;
  }

  .span_cameraRegular {
    grid-area: row-3-switchCamera / col-start-switchCamera / row-stop-switchCamera / col-1-switchCamera;
    grid-auto-rows: auto;
  }

  /* CAMERA ANAGLYPH */

  .div_cameraAnaglyph {
    grid-area: row2-switchCamera / col-1-switchCamera / row-stop-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
    display: inline-block;
  }

  .img_cameraAnaglyph {
    grid-area: row-2-switchCamera / col-1-switchCamera / row-3-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
  }

  .span_cameraAnaglyph {
    grid-area: row-3-switchCamera / col-1-switchCamera / row-stop-switchCamera / col-stop-switchCamera;
    grid-auto-rows: auto;
  }

  .imgs_camera {
    width: 70px;
    height: 70px;
    margin: 10px;
    margin-bottom: 0px;
  }

  .spans_camera {
    font-family: Roboto-Regular;
    font-size: 12px;
    color: grey;
    padding: 10px;
    text-align: center;
    padding-bottom: 5px;
  }

  .isActive_spansCamera {
    color: #017bff;
  }
}

/* MENU MOVIES */

.menuMovies_container {
  z-index: 4;
  position: absolute;
}

@media (max-width: 799px) {
  .menuMovies_container {
    grid-template-columns: [col-start-menu] auto [col-1-menu] auto [col-2-menu] auto [col-stop-menu];
    grid-template-rows: [row-start-menu] auto [row-stop-menu];
    display: grid;
    left: 127px;
    bottom: 55px;
    background-color: #00000066;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
  }
}

@media (min-width: 800px) {
  .menuMovies_container {
    grid-template-columns: [col-start-menu] auto [col-1-menu] auto [col-2-menu] auto [col-stop-menu];
    grid-template-rows: [row-start-menu] auto [row-stop-menu];
    display: grid;
    top: 407px;
    right: 60px;
    background-color: #00000066;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
  }
}

.buttons_movies {
  color: grey;
}

.buttons_movies:hover {
  color: white;
  cursor: pointer;
}

/* CARDS */

.container_cards {
  z-index: 3;
  position: absolute;
}

@media (max-width: 576px) {
  .container_cards {
    grid-template-columns: [col-start-cards] 1fr [col-stop-cards];
    grid-template-rows: [row-start-cards] 87px [row-1-cards] auto [row-2-cards] auto [row-3-cards] auto [row-4-cards] 40px [row-stop-cards];
    display: grid;
    top: 70px;
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
  }

  .title_card {
    grid-area: row-start-cards / col-start-cards / row-1-cards / col-1-cards;
    grid-auto-rows: auto;
    font-size: 16px;
    width: 250px;
    height: 87px;
  }

  .h1_card {
    grid-area: row-1-cards / col-start-cards / row-2-cards / col-stop-cards;
    grid-auto-rows: auto;
    margin-top: 10px;
    font-family: Roboto-Bold;
    font-size: 20px;
    color: #D3D3D3;
  }

  .texts-card {
    grid-area: row-2-cards / col-start-cards / row-3-cards / col-stop-cards;
    grid-auto-rows: auto;
    width: auto;
    max-height: 200px;
    color: #D3D3D3;
    font-size: 15px;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
    padding-top: 10px;
    padding-right: 20px;
  }

  .spans_language_cards {
    grid-area: row-3-cards / col-start-cards / row-4-cards / col-stop-cards;
    grid-auto-rows: auto;
  }

  .btn-close {
    grid-area: row-4-cards / col-start-cards / row-stop-cards / col-stop-cards;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }
}

@media (min-width: 576px) {
  .container_cards {
    grid-template-columns: [col-start-cards] 350px [col-stop-cards];
    grid-template-rows: [row-start-cards] 105px [row-1-cards] auto [row-2-cards] auto [row-3-cards] auto [row-4-cards] 40px [row-stop-cards];
    display: grid;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 350px;
    margin-left: 20px;
    padding-bottom: 20px;
  }

  .title_card {
    grid-area: row-start-cards / col-start-cards / row-1-cards / col-1-cards;
    grid-auto-rows: auto;
    font-size: 16px;
    width: 300px;
    height: 105px;
  }

  .h1_card {
    grid-area: row-1-cards / col-start-cards / row-2-cards / col-stop-cards;
    grid-auto-rows: auto;
    margin-top: 10px;
    font-family: Roboto-Bold;
    font-size: 22px;
    color: #D3D3D3;
  }

  .texts-card {
    grid-area: row-2-cards / col-start-cards / row-3-cards / col-stop-cards;
    grid-auto-rows: auto;
    max-width: 400px;
    max-height: 200px;
    color: #D3D3D3;
    font-size: 16px;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
    padding-top: 10px;
    padding-right: 20px;
  }

  .spans_language_cards {
    grid-area: row-3-cards / col-start-cards / row-4-cards / col-stop-cards;
    grid-auto-rows: auto;
  }

  .btn-close {
    grid-area: row-4-cards / col-start-cards / row-stop-cards / col-stop-cards;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }
}

@media (min-width: 768px) {
  .container_cards {
    grid-template-columns: [col-start-cards] 350px [col-stop-cards];
    grid-template-rows: [row-start-cards] 105px [row-1-cards] auto [row-2-cards] auto [row-3-cards] auto [row-4-cards] 40px [row-stop-cards];
    display: grid;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 350px;
    margin-left: 50px;
    padding-bottom: 20px;
  }

  .title_card {
    grid-area: row-start-cards / col-start-cards / row-1-cards / col-1-cards;
    grid-auto-rows: auto;
    font-size: 16px;
    width: 300px;
    height: 105px;
  }

  .h1_card {
    grid-area: row-1-cards / col-start-cards / row-2-cards / col-stop-cards;
    grid-auto-rows: auto;
    margin-top: 10px;
    font-family: Roboto-Bold;
    font-size: 22px;
    color: #D3D3D3;
  }

  .texts-card {
    grid-area: row-2-cards / col-start-cards / row-3-cards / col-stop-cards;
    grid-auto-rows: auto;
    max-width: 400px;
    max-height: 300px;
    color: #D3D3D3;
    font-size: 16px;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
    padding-top: 10px;
    padding-right: 20px;
  }

  .spans_language_cards {
    grid-area: row-3-cards / col-start-cards / row-4-cards / col-stop-cards;
    grid-auto-rows: auto;
  }

  .btn-close {
    grid-area: row-4-cards / col-start-cards / row-stop-cards / col-stop-cards;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }
}

@media (min-width: 960px) {
  .container_cards {
    grid-template-columns: [col-start-cards] 400px [col-stop-cards];
    grid-template-rows: [row-start-cards] 105px [row-1-cards] auto [row-2-cards] auto [row-3-cards] auto [row-4-cards] 40px [row-stop-cards];
    display: grid;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 400px;
    margin-left: 50px;
    padding-bottom: 20px;
  }

  .title_card {
    grid-area: row-start-cards / col-start-cards / row-1-cards / col-1-cards;
    grid-auto-rows: auto;
    font-size: 16px;
    width: 300px;
    height: 105px;
  }

  .h1_card {
    grid-area: row-1-cards / col-start-cards / row-2-cards / col-stop-cards;
    grid-auto-rows: auto;
    margin-top: 10px;
    font-family: Roboto-Bold;
    font-size: 22px;
    color: #D3D3D3;
  }

  .texts-card {
    grid-area: row-2-cards / col-start-cards / row-3-cards / col-stop-cards;
    grid-auto-rows: auto;
    max-width: 400px;
    color: #D3D3D3;
    font-size: 16px;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
    padding-top: 10px;
  }

  .spans_language_cards {
    grid-area: row-3-cards / col-start-cards / row-4-cards / col-stop-cards;
    grid-auto-rows: auto;
  }

  .btn-close {
    grid-area: row-4-cards / col-start-cards / row-stop-cards / col-stop-cards;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }
}

@media (min-width: 1140px) {
  .container_cards {
    grid-template-columns: [col-start-cards] 400px [col-stop-cards];
    grid-template-rows: [row-start-cards] 134px [row-1-cards] auto [row-2-cards] auto [row-3-cards] auto [row-4-cards] 40px [row-stop-cards];
    display: grid;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 400px;
    margin-left: 100px;
    padding-bottom: 20px;
  }

  @media (min-width: 1400px) {
    .container_cards {
      margin-left: 150px;
    }
  }

  .title_card {
    grid-area: row-start-cards / col-start-cards / row-1-cards / col-1-cards;
    grid-auto-rows: auto;
    width: 384px;
    height: 134px;
  }

  .h1_card {
    grid-area: row-1-cards / col-start-cards / row-2-cards / col-stop-cards;
    grid-auto-rows: auto;
    margin-top: 10px;
    font-family: Roboto-Bold;
    font-size: 22px;
    color: #D3D3D3;
  }

  .texts-card {
    grid-area: row-2-cards / col-start-cards / row-3-cards / col-stop-cards;
    grid-auto-rows: auto;
    max-width: 400px;
    color: #D3D3D3;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: none;
    padding-top: 10px;
  }

  .spans_language_cards {
    grid-area: row-3-cards / col-start-cards / row-4-cards / col-stop-cards;
    grid-auto-rows: auto;
  }

  .btn-close {
    grid-area: row-4-cards / col-start-cards / row-stop-cards / col-stop-cards;
    grid-auto-rows: auto;
    margin-top: 20px;
    width: 75px;
    height: 40px;
  }
}

/* BADGES */

.span_language {
  cursor: pointer;
}

.badge {
  background-color: #777777;
}

/* CACHE */

.cacheMobileDevice_container {
  z-index: 2;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 6px;
}

@media (max-width: 576) {
  ::-webkit-scrollbar {
    scroll-margin-left: 20px;
  }
}

@media (min-width: 576px) {
  ::-webkit-scrollbar {
    scroll-margin-left: 20px;
  }
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    scroll-margin-left: 20px;
  }
}

@media (min-width: 960px) {
  ::-webkit-scrollbar {
    scroll-margin-left: 20px;
  }
}

@media (min-width: 1140px) {
  ::-webkit-scrollbar {
    scroll-margin-left: 20px;
  }
}

::-webkit-scrollbar-track {
  scroll-margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

::-webkit-scrollbar-thumb {
  scroll-margin-left: 20px;
  border-radius: 10px;
  background-color: #ffffff44;
}
