<canvas #rendererCanvas_development id="rendererCanvas_development"></canvas>

<div id="div_introduction_background" [style.display]="isVisible_introductionBackground ? 'block' : 'none'" [@isLoaded_fadeOut]="isLoaded_fadeOut">
</div>

<div id="div_introduction" [style.display]="isVisible_introduction ? 'block' : 'none'" *ngIf="isVisible_introduction">
    <div id="container_introduction" class="container">
        <div class="row">
            <div class="col-md-8 col-lg-12 col-xl-12">
                <h1 class="h1_webDeveloper" *ngIf="language_english" [@webDeveloper_fadeIn]="webDeveloper_fadeIn">WEB<br/>DEVELOPER</h1>
                <h1 class="h1_webDeveloper" *ngIf="language_french" [@webDeveloper_fadeIn]="webDeveloper_fadeIn">DEVELOPPEUR<br/>WEB</h1>
                <h1 class="h1_webDeveloper" *ngIf="language_spanish" [@webDeveloper_fadeIn]="webDeveloper_fadeIn">DESARROLADOR<br/>WEB</h1>
                <span class="span_webDeveloper" [@webDeveloper_fadeIn]="webDeveloper_fadeIn">SPRING - ANGULAR - BABYLONJS</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-sm-7 col-md-6 col-lg-6 col-xl-6" [@introduction_fadeIn]="introduction_fadeIn">
                <p class="text_introduction pr-3" *ngIf="language_english">
                    Having fallen into computer science at a very young age, passionate about art and new technologies, the Web appeared to me as an ideal environment for the association of these two sensibilities.
                    From mastering languages ​​useful for creating sites to mastering graphics software, I quickly felt cramped on this two-dimensional plan. <br/>
                    The discovery of 3D made me the effect of entering a new universe. A universe very similar to ours and it too is governed by physics and mathematics.
                    The capacity of networks and the computing power of terminals have hitherto been a hindrance to the integration of the third dimension into the Web.
                    But these barriers are now on the verge of falling, leaving the field open to a new way of expressing oneself, of experimenting, of classifying data. <br/>
                    This site is the result of a long training in programming languages ​​and graphical tools, guided by the desire to create 3-dimensional sites based on solid and innovative technologies.
                    This platform is a "laboratory" having for objective, on the one hand, to present my work, and, on the other hand, to share my know-how.
                </p>
                <p class="text_introduction" *ngIf="language_french">
                    Tombé très jeune dans l'informatique, passionné par l'art et les nouvelles technologies, le Web m'est apparu comme un environnemt idéal à l'association de ces deux sensibilités.
                    De la maîtrise des langages utiles à la réalisation de sites à celle des logiciels de graphismes, je me suis très vite senti à l'etroit sur ce plan en deux dimensions.<br/>
                    La découverte de la 3D me fit l'effet d'entrer dans un nouvel univers. Un univers très similaire au notre et lui aussi régit par la physique et les mathématiques.
                    Très presente autour de nous, dans le cinema, les jeux vidéos, toutefois pas encore sur internet...
                    La capacité des réseaux et la puissance de calcul des terminaux ont jusqu'ici eté un frein à l'intégration de la troisième dimension au Web.
                    Mais ces barrières sont aujourd'hui sur le point de tomber, laissant le champ libre à une nouvelle manière de s'exprimer, d'expérimenter, de classer des données.<br/>
                    Ce site est le fruit d'un long apprentissage des langages de programmations et des outils graphiques, guidées par la volonté de réaliser des sites en 3 dimensions reposant sur des technologies solides et novatrices.
                    Cette plateforme est un "laboratoire" ayant pour objectif, d'une part, de présenter mon travail, et, d'autre part, de partager mon savoir-faire.
                </p>
                <p class="text_introduction" *ngIf="language_spanish">
                    Habiendo entrado en la informática desde muy joven, apasionado por el arte y las nuevas tecnologías, la Web me pareció un entorno ideal para la asociación de estas dos sensibilidades.
                    Desde dominar lenguajes útiles para crear sitios hasta dominar el software de gráficos, rápidamente me sentí abrumado en este plan bidimensional.<br/>
                    El descubrimiento de 3D me hizo el efecto de entrar en un nuevo universo. Un universo muy parecido al nuestro y que también se rige por la física y las matemáticas.
                    La capacidad de las redes y la potencia informática de los terminales han sido hasta ahora un obstáculo para la integración de la tercera dimensión en la Web.
                    Pero estas barreras ahora están a punto de caer, dejando el campo abierto a una nueva forma de expresarse, de experimentar, de clasificar los datos.<br/>
                    Este sitio es el resultado de una larga formación en lenguajes de programación y herramientas gráficas, guiados por el deseo de crear sitios tridimensionales basados ​​en tecnologías sólidas e innovadoras.
                    Esta plataforma es un "laboratorio" que tiene como objetivo, por un lado, presentar mi trabajo y, por otro, compartir mi saber hacer.
                </p>
                <div *ngIf="language_english">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_french()">french</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">spanish</span>
                </div>
                <div *ngIf="language_french">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">anglais</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">espagnol</span>
                </div>
                <div *ngIf="language_spanish">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">inglés</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_french()">francés</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <button id="btn_close_introduction" type="button" class="btn btn-primary mt-3" (click)="close_introduction()" [disabled]="isLoaded == false" [@btnCloseIntroduction_fadeIn]="btnCloseIntroduction_fadeIn">
                    <span *ngIf="language_english">Enter</span>
                    <span *ngIf="language_french">Entrer</span>
                    <span *ngIf="language_spanish">Entrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_postgresql ? 'block' : 'none'" [@isVisible_postgresql]="isVisible_postgresql">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <h1 class="h1_card">POSTGRESQL</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">

                </p>
                <p class="text_content" *ngIf="language_french">

                </p>
                <p class="text_content" *ngIf="language_spanish">

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_postgresql" type="button" class="btn btn-dark" (click)="close_postgresql()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_java ? 'block' : 'none'" [@isVisible_java]="isVisible_java">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <h1 class="h1_card">JAVA</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">

                </p>
                <p class="text_content" *ngIf="language_french">

                </p>
                <p class="text_content" *ngIf="language_spanish">

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_java" type="button" class="btn btn-dark" (click)="close_java()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_spring_framework ? 'block' : 'none'" [@isVisible_spring_framework]="isVisible_spring_framework">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <h1 class="h1_card">SPRING FRAMEWORK</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">

                </p>
                <p class="text_content" *ngIf="language_french">

                </p>
                <p class="text_content" *ngIf="language_spanish">

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_spring_framework" type="button" class="btn btn-dark" (click)="close_spring_framework()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_maven ? 'block' : 'none'" [@isVisible_maven]="isVisible_maven">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <h1 class="h1_card">MAVEN</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">

                </p>
                <p class="text_content" *ngIf="language_french">

                </p>
                <p class="text_content" *ngIf="language_spanish">

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_maven" type="button" class="btn btn-dark" (click)="close_maven()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_css ? 'block' : 'none'" [@isVisible_css]="isVisible_css">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <h1 class="h1_card">CSS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">

                </p>
                <p class="text_content" *ngIf="language_french">

                </p>
                <p class="text_content" *ngIf="language_spanish">

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_css" type="button" class="btn btn-dark" (click)="close_css()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_html ? 'block' : 'none'" [@isVisible_html]="isVisible_html">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <h1 class="h1_card">HTML</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">

                </p>
                <p class="text_content" *ngIf="language_french">

                </p>
                <p class="text_content" *ngIf="language_spanish">

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_html" type="button" class="btn btn-dark" (click)="close_html()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_bootstrap ? 'block' : 'none'" [@isVisible_bootstrap]="isVisible_bootstrap">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <h1 class="h1_card">BOOTSTRAP</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">

                </p>
                <p class="text_content" *ngIf="language_french">

                </p>
                <p class="text_content" *ngIf="language_spanish">

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_bootstrap" type="button" class="btn btn-dark" (click)="close_bootstrap()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_angular ? 'block' : 'none'" [@isVisible_angular]="isVisible_angular">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <h1 class="h1_card">ANGULAR</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">

                </p>
                <p class="text_content" *ngIf="language_french">

                </p>
                <p class="text_content" *ngIf="language_spanish">

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_angular" type="button" class="btn btn-dark" (click)="close_angular()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_typescript ? 'block' : 'none'" [@isVisible_typescript]="isVisible_typescript">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <h1 class="h1_card">TYPESCRIPT</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">

                </p>
                <p class="text_content" *ngIf="language_french">

                </p>
                <p class="text_content" *ngIf="language_spanish">

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_typescript" type="button" class="btn btn-dark" (click)="close_typescript()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_postman ? 'block' : 'none'" [@isVisible_postman]="isVisible_postman">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <h1 class="h1_card">POSTMAN</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">

                </p>
                <p class="text_content" *ngIf="language_french">

                </p>
                <p class="text_content" *ngIf="language_spanish">

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_postman" type="button" class="btn btn-dark" (click)="close_postman()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_docker ? 'block' : 'none'" [@isVisible_docker]="isVisible_docker">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <h1 class="h1_card">DOCKER</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">

                </p>
                <p class="text_content" *ngIf="language_french">

                </p>
                <p class="text_content" *ngIf="language_spanish">

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_docker" type="button" class="btn btn-dark" (click)="close_docker()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_git ? 'block' : 'none'" [@isVisible_git]="isVisible_git">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <h1 class="h1_card">GIT</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">

                </p>
                <p class="text_content" *ngIf="language_french">

                </p>
                <p class="text_content" *ngIf="language_spanish">

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_git" type="button" class="btn btn-dark" (click)="close_git()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_blender ? 'block' : 'none'" [@isVisible_blender]="isVisible_blender">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <h1 class="h1_card">BLENDER</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">

                </p>
                <p class="text_content" *ngIf="language_french">

                </p>
                <p class="text_content" *ngIf="language_spanish">

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_blender" type="button" class="btn btn-dark" (click)="close_blender()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_babylon ? 'block' : 'none'" [@isVisible_babylon]="isVisible_babylon">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <h1 class="h1_card">BABYLON</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">

                </p>
                <p class="text_content" *ngIf="language_french">

                </p>
                <p class="text_content" *ngIf="language_spanish">

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_babylon" type="button" class="btn btn-dark" (click)="close_babylon()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_photoshop ? 'block' : 'none'" [@isVisible_photoshop]="isVisible_photoshop">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <h1 class="h1_card">PHOTOSHOP</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">

                </p>
                <p class="text_content" *ngIf="language_french">

                </p>
                <p class="text_content" *ngIf="language_spanish">

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_photoshop" type="button" class="btn btn-dark" (click)="close_photoshop()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_illustrator ? 'block' : 'none'" [@isVisible_illustrator]="isVisible_illustrator">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <h1 class="h1_card">ILLUSTRATOR</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">

                </p>
                <p class="text_content" *ngIf="language_french">

                </p>
                <p class="text_content" *ngIf="language_spanish">

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_illustrator" type="button" class="btn btn-dark" (click)="close_illustrator()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="div_card" [style.display]="isVisible_contactMe ? 'block' : 'none'" [@isVisible_contactMe]="isVisible_contactMe">
    <div class="container_card container">
        <div class="row">
            <div class="col">
                <div class="div_Head">
                    <h1 class="h1_card" *ngIf="language_english">CONTACT ME</h1>
                    <h1 class="h1_card" *ngIf="language_french">ME CONTACTER</h1>
                    <h1 class="h1_card" *ngIf="language_spanish">CONTÁCTAME</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text_content" *ngIf="language_english">
                </p>
                <p class="text_content" *ngIf="language_french">
                </p>
                <p class="text_content" *ngIf="language_spanish">
                </p>

                <!-- Default form contact -->
                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

                  <div class="form-group">
                    <label for="contactFormName" class="text-light mt-1">Your name</label>
                    <input type="text" id="contactFormName" name="contactFormName" formControlName="contactFormName" class="form-control">
                  </div>

                  <!-- Email -->
                  <div class="form-group">
                    <label for="contactFormEmail" class="text-light mt-1">Your email</label>
                    <input type="email" id="contactFormEmail" name="contactFormEmail" formControlName="contactFormEmail" class="form-control">
                  </div>

                  <!-- Message -->
                  <div class="form-group">
                    <label for="contactFormSubjects" class="text-light mt-1">Why would you like to contact me ? 🤔</label>
                    <input type="email" id="contactFormSubjects" name="contactFormSubjects" formControlName="contactFormSubjects" class="form-control">
                  </div>

                  <!-- Message -->
                  <div class="form-group">
                    <label for="contactFormMessage" class="text-light mt-1">Your message</label>
                    <textarea id="contactFormMessage" name="contactFormMessage" formControlName="contactFormMessage" class="form-control"></textarea>
                  </div>

                  <!-- Send button -->
                  <div class="form-group">
                    <button type="submit" class="btn btn-danger mt-1" [disabled]="disabledSubmitButton">
                        <span *ngIf="language_english">Send</span>
                        <span *ngIf="language_french">Envoyer</span>
                        <span *ngIf="language_spanish">Enviar</span>
                    </button>
                  </div>
                </form>

                <div *ngIf="language_english">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_french()">french</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">spanish</span>
                </div>
                <div *ngIf="language_french">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">anglais</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">espagnol</span>
                </div>
                <div *ngIf="language_spanish">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">inglés</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_french()">francés</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_contactMe" type="button" class="btn btn-dark mt-3" (click)="close_contactMe()">
                    <span *ngIf="language_english">Close</span>
                    <span *ngIf="language_french">Fermer</span>
                    <span *ngIf="language_spanish">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="div_cache" [style.display]="isVisible_cache ? 'block' : 'none'">
</div>

<div id="divDashBoard" *ngIf="isVisible_dashBoard">
  <h3>Window</h3>
  <div>
      <p>Width : <span>{{ innerWidth }}</span></p>
      <p>Height : <span>{{ innerHeight }}</span></p>
  </div>
    <h3>Camera</h3>
    <div>
        <p>Alpha : <span>{{ camera_datas.alpha }}</span></p>
        <p>Beta : <span>{{ camera_datas.beta }}</span></p>
        <p>Radius : <span>{{ camera_datas.radius }}</span></p>
        <p>X : <span>{{ camera_datas.x }}</span></p>
        <p>Y : <span>{{ camera_datas.y }}</span></p>
        <p>Z : <span>{{ camera_datas.z }}</span></p>
    </div>
</div>
