/* CANVAS */

#rendererCanvas_development {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  touch-action: none;
}

/* BACKGROUND */

#div_introduction_background {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #002486;
}

/* INTRODUCTION */

#div_introduction {
    z-index: 2;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 7%;
}

.h1_webDeveloper {
    font-family: Peace-Sans-Webfont;
    font-size: 80px;
    line-height: 65px;
    color: #6f8800;
}

.span_webDeveloper {
    margin-top: -50;
    font-family: Peace-Sans-Webfont;
    font-size: 24px;
    color: #8D6A00;
}

.text_introduction {
    color: #D3D3D3;
    text-align: justify;
}

.span_language {
    cursor: pointer;
}
