<canvas #rendererCanvas_development id="rendererCanvas_development"></canvas>

<div id="div_introduction_background" [style.display]="isVisible_introductionBackground ? 'block' : 'none'" [@isLoaded_fadeOut]="isLoaded_fadeOut">
</div>

<div id="div_introduction" [style.display]="isVisible_introduction ? 'block' : 'none'" *ngIf="isVisible_introduction">
    <div id="container_introduction" class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="h1_webDeveloper" *ngIf="language_english" [@webDeveloper_fadeIn]="webDeveloper_fadeIn">WEB<br/>DEVELOPER</h1>
                <h1 class="h1_webDeveloper" *ngIf="language_french" [@webDeveloper_fadeIn]="webDeveloper_fadeIn">DEVELOPPEUR<br/>WEB</h1>
                <h1 class="h1_webDeveloper" *ngIf="language_spanish" [@webDeveloper_fadeIn]="webDeveloper_fadeIn">DESARROLADOR<br/>WEB</h1>
                <span class="span_webDeveloper" [@webDeveloper_fadeIn]="webDeveloper_fadeIn">SPRING - ANGULAR - BABYLONJS</span>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <p class="text_introduction" *ngIf="language_english" [@introduction_fadeIn]="introduction_fadeIn">

                </p>
                <p class="text_introduction mt-3" *ngIf="language_french" [@introduction_fadeIn]="introduction_fadeIn">

                </p>
                <p class="text_introduction" *ngIf="language_spanish" [@introduction_fadeIn]="introduction_fadeIn">

                </p>
                <div *ngIf="language_english">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_french()">french</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">spanish</span>
                </div>
                <div *ngIf="language_french">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">anglais</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_spanish()">espagnol</span>
                </div>
                <div *ngIf="language_spanish">
                    <span class="span_language badge badge-pill badge-info mr-2 p-1 pl-2 pr-2" (click)="change_language_english()">inglés</span>
                    <span class="span_language badge badge-pill badge-info p-1 pl-2 pr-2" (click)="change_language_french()">francés</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="btn_close_introduction" type="button" class="btn btn-dark mt-3" (click)="close_introduction()" [disabled]="isLoaded == false" [@btnCloseIntroduction_fadeIn]="btnCloseIntroduction_fadeIn">
                    <span *ngIf="language_english">Enter</span>
                    <span *ngIf="language_french">Entrer</span>
                    <span *ngIf="language_spanish">Entrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="divDashBoard" *ngIf="isVisible_dashBoard">
    <h3>Camera</h3>
    <div>
        <p>Alpha : <span>{{ camera_datas.alpha }}</span></p>
        <p>Beta : <span>{{ camera_datas.beta }}</span></p>
        <p>Radius : <span>{{ camera_datas.radius }}</span></p>
        <p>X : <span>{{ camera_datas.x }}</span></p>
        <p>Y : <span>{{ camera_datas.y }}</span></p>
        <p>Z : <span>{{ camera_datas.z }}</span></p>
    </div>
</div>
