.container_navBar {
  z-index: 10;
  position: absolute;
  width: 100%;
  display: grid;
  align-items: center;
}

@media (min-width: 800px) {
  .container_navBar {
    grid-template-columns: [col-start] 70px [col-1] auto [col-2] auto [col-3] auto [col-4] auto [col-5] 1fr [col-6] 40px [col-7] 40px [col-8] 40px [col-9] 40px [col-stop];
    grid-template-rows: [row-start] 60px [row-stop];
    background-color: #00000088;
  }

  .logo_moko {
    grid-area: row-start / col-start / row-stop / col-1;
    padding-left: 20px;
  }

  .laboratory {
    grid-area: row-start / col-1 / row-stop / col-2;
    grid-auto-rows: auto;
  }

  .laboratory span {
    margin-left: 10px;
  }

  .development {
    grid-area: row-start / col-2 / row-stop / col-3;
    grid-auto-rows: auto;
  }

  .tutorials {
    grid-area: row-start / col-3 / row-stop / col-4;
    grid-auto-rows: auto;
    font-family: Roboto-Regular;
    font-size: 20px;
    color: #C1C1C177;
    opacity: 0.8;
  }

  .photography {
    grid-area: row-start / col-4 / row-stop / col-5;
    grid-auto-rows: auto;
    font-family: Roboto-Regular;
    font-size: 20px;
    color: #C1C1C177;
    opacity: 0.8;
  }

  .twitter {
    grid-area: row-start / col-6 / row-stop / col-7;
  }

  .instagram {
    grid-area: row-start / col-7 / row-stop / col-8;
  }

  .youtube {
    grid-area: row-start / col-8 / row-stop / col-9;
  }

  .linkedIn {
    grid-area: row-start / col-9 / row-stop / col-stop;
  }
}

@media (max-width: 799px) {
  .container_navBar {
    grid-template-columns: [col-start-navBar] 70px [col-1-navBar] auto [col-2-navBar] 40px [col-stop-navBar];
    grid-template-rows: [row-start-navBar] 60px [row-stop-navBar];
    background-color: #00000088;
  }

  .logo_moko {
    grid-area: row-start-navBar / col-start-navBar / row-stop-navBar / col-1-navBar;
    padding-left: 10px;
  }

  .menu {
    grid-area: row-start-navBar / col-2-navBar / row-stop-navBar / col-stop-navBar;
    margin-right: 10px;
  }
}

@media (max-width: 799px) {
  .container_menuNavBar {
    grid-template-columns: [col-start-menuNavBar] auto [col-1-menuNavBar] 40px [col-2-menuNavBar] 40px [col-3-menuNavBar] 40px [col-4-menuNavBar] 40px [col-stop-menuNavBar];
    grid-template-rows: [row-start-menuNavBar] 40px [row-1-menuNavBar] 40px [row-2-menuNavBar] 40px [row-3-menuNavBar] 40px [row-4-menuNavBar] 40px [row-stop-menuNavBar];
    display: grid;
    align-items: center;
    z-index: 10;
    background-color: #000000;
    position: absolute;
    top: 60px;
    width: 100%;
    height: 200px;
    display: grid;
    align-items: center;
  }

  .laboratory {
    grid-area: row-start-menuNavBar / col-start-menuNavBar / row-1-menuNavBar / col-stop-menuNavBar;
    grid-auto-rows: auto;
  }

  .development {
    grid-area: row-1-menuNavBar / col-start-menuNavBar / row-2-menuNavBar / col-stop-menuNavBar;
    grid-auto-rows: auto;
  }

  .tutorials {
    grid-area: row-2-menuNavBar / col-start-menuNavBar / row-3-menuNavBar / col-stop-menuNavBar;
    grid-auto-rows: auto;
  }

  .photography {
    grid-area: row-3-menuNavBar / col-start-menuNavBar / row-4-menuNavBar / col-stop-menuNavBar;
    grid-auto-rows: auto;
  }

  .items_socNet {
    grid-area: row-4-menuNavBar / col-start-menuNavBar / row-stop-menuNavBar / col-stop-menuNavBar;
    grid-auto-rows: auto;
  }

  .twitter {
    grid-area: row-4-menuNavBar / col-1-menuNavBar / row-stop-menuNavBar / col-2-menuNavBar;
  }

  .instagram {
    grid-area: row-4-menuNavBar / col-2-menuNavBar / row-stop-menuNavBar / col-3-menuNavBar;
  }

  .youtube {
    grid-area: row-4-menuNavBar / col-3-menuNavBar / row-stop-menuNavBar / col-4-menuNavBar;
  }

  .linkedIn {
    grid-area: row-4-menuNavBar / col-4-menuNavBar / row-stop-menuNavBar / col-stop-menuNavBar;
  }
}

.items_navBar {
  font-family: Roboto-Regular;
  font-size: 20px;
  color: #C1C1C177;
  padding-left: 10px;
  padding-right: 10px;
}

a.active span {
  font-family: Roboto-Bold;
  color: #0044B8;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.socNet-navBar {
  padding-left: 5px;
  padding-right: 5px;
}

.disable {
  color: #C1C1C144;
}
