nav {
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: #00000033;
}

nav ul li a   {
  font-size: 18px;
  opacity: 0.8;
}

nav ul li a:hover   {
  color:red;
}

.disable {
  cursor: default;
}
