.container_navBar {
  z-index: 10;
  position: absolute;
  display: grid;
  grid-template-columns: [col-navBar-start] 70px [col-navBar-navItems-start] 1fr 1fr 1fr [col-navBar-navItems-stop] auto [col-navBar-socNet-start] 40px 40px 40px 40px [col-navBar-end];
  grid-template-rows: [row-navBar-start] 60px [row-navBar-end];
  background-color: #00000088;
}

.navBar {
  grid-area: row-navBar-start / col-navBar-start / row-navBar-end / col-navBar-end;
}

.logo_moko {
  grid-area: row-navBar-start / col-navBar-start / row-navBar-end / col-navBar-navItems-start;
  padding: 10px;
  padding-left: 20px;
}
