nav {
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: #00000055;
}

nav ul li a   {
  font-family: Peace-Sans-Webfont;
  font-size: 22px;
  opacity: 0.8;
}

nav ul li a:hover   {
  color: #00b1ffcc;
}

.link-is-active   {
  color: red;
}
