@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'material-icons/iconfont/material-icons.css';

/* FONTS */

@font-face {
  font-family: Peace-Sans-Webfont;
  src: url(./assets/fonts/Peace-Sans-Webfont.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(./assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

/* BODY */

html {
  font-family: Roboto-Regular;
}
